/* Props */
.bloop2x-sprite {
  background-image: url('../img/bloop2x-se536a679ec.png');
  background-repeat: no-repeat;
}

.bloop-sprite {
  background-image: url('../img/bloop-seb528d1c48.png');
  background-repeat: no-repeat;
}

.bloop {
  filter: url("../img/blue-filter.svg#seafish");
  overflow: hidden;
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .bloop {
    background-image: url('../img/bloop2x-s442440d9a2.png');
  }
}
