#for-browsers .call-to-dive:before,
#for-browsers .call-to-dive:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

#for-browsers .call-to-dive:after {
  clear: both;
}

.Merriweather400 #for-browsers .call-to-dive .button, #for-browsers .call-to-dive .Merriweather400 .button {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.Merriweather700 #for-browsers {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

#for-browsers {
  padding: 1rem 0;
  margin: 0 auto 1rem;
  text-align: center;
}
#for-browsers p {
  text-align: left;
}
#for-browsers picture {
  display: block;
  margin: 1rem 0;
}
#for-browsers .call-to-dive {
  text-align: center;
}
#for-browsers .call-to-dive a {
  display: block;
}
#for-browsers .call-to-dive .button {
  background: #002351;
  border-radius: 0.33333rem;
  color: #519cff !important;
  text-decoration: none;
  padding: 0.33333rem 1rem;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.215, 0.61, 0.355, 1), background 200ms cubic-bezier(0.215, 0.61, 0.355, 1), color 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: transform 200ms cubic-bezier(0.215, 0.61, 0.355, 1), background 200ms cubic-bezier(0.215, 0.61, 0.355, 1), color 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  display: inline-block;
  margin: 0 0 1rem 0;
}
#for-browsers .call-to-dive .button:hover, #for-browsers .call-to-dive .button:active, #for-browsers .call-to-dive .button:focus {
  background: #0b4a61;
  color: #7bd1f0 !important;
}

@media (min-width: 68em) {
  #for-browsers .call-to-dive {
    min-width: calc(15em + 232px);
    margin: 1rem auto 1rem -2rem;
  }
  #for-browsers a {
    display: inline-block !important;
  }
  #for-browsers picture {
    margin: 0 0.33333rem;
  }
  #for-browsers .button {
    margin: 0 0.33333rem;
    -webkit-transform: translateY(-1.66667rem);
        -ms-transform: translateY(-1.66667rem);
            transform: translateY(-1.66667rem);
  }
}
