@font-face {
  font-family: 'leagueSpartanRegular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.leagueSpartanRegular400 h1, .leagueSpartanRegular400 h2, .leagueSpartanRegular400 h3 {
  font-family: "leagueSpartanRegular", sans-serif;
  font-weight: 400;
}

.Merriweather400 p, .Merriweather400 li, .Merriweather400 footer {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.Merriweather700 .subtitle, .Merriweather700 em, .Merriweather700 blockquote {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.segment, footer {
  font-size: 1rem;
  line-height: 2rem;
}

h3, .subtitle, blockquote, cite {
  font-size: 2rem;
  line-height: 2.66667rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.33333rem;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

html {
  font-size: 112.5%;
  line-height: 0.33333em;
}

.wrapper {
  overflow: hidden;
}

.segment {
  min-height: 100vh;
  position: relative;
  padding: 0 2em;
}
@media (min-width: 54em) {
  .segment {
    max-width: 102rem;
    margin: 0 auto;
  }
}
.segment h1, .segment h2, .segment h3, .segment p, .segment li {
  opacity: 0;
  transition: opacity 2.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.segment * {
  animation-play-state: paused;
}
.segment.in-view h1, .segment.in-view h2, .segment.in-view h3, .segment.in-view p, .segment.in-view li {
  opacity: 1;
}
.segment.in-view .subtitle {
  opacity: 0.6;
}
.segment.in-view * {
  animation-play-state: running;
}

.challenge, .solved .challenge, .facts, .show-challenge .facts {
  opacity: 0;
}

.solving .challenge, .show-challenge .challenge, .solved .facts {
  opacity: 1;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  padding-top: 0.33333rem;
}

h1 {
  color: #000c1c;
}

.subtitle {
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
}

@media (min-width: 35em) {
  p {
    padding-bottom: 0;
  }
  p:not(:first-of-type) {
    text-indent: 4em;
  }
}
li {
  padding-bottom: 0.33333rem;
  margin-left: 4em;
}

@media (min-width: 54em) {
  .content, .facts, .challenge {
    -moz-column-count: 2;
    -moz-column-gap: 2rem;
    column-count: 2;
    column-gap: 2rem;
  }
  .content ul, .facts ul, .challenge ul {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
@media (min-width: 54em) {
  p {
    padding-bottom: 2rem;
    text-indent: 0 !important;
  }
}
blockquote {
  page-break-inside: avoid;
  break-inside: avoid;
  opacity: .7;
  padding-top: 0.33333rem;
  padding-bottom: 0.33333rem;
  margin: 4rem;
}
blockquote:first-child {
  padding: 0;
}

cite {
  font-style: normal;
  display: block;
  margin: 0 4rem;
  text-align: right;
}
cite:before {
  content: "\2014";
}

img {
  filter: url("../img/blue-filter.svg#seafish") grayscale(100%) brightness(20%);
}

#surface {
  background: #A9DDF2;
  color: #06191b;
  text-align: center;
  position: relative;
}

.waves {
  background: #39dbb4;
  height: 110px;
  padding-bottom: 2em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 2em;
  width: 100%;
  height: 120px;
}
.in-zone .wave {
  animation-name: oceanSurge;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.wave:before {
  content: " ";
  transform: scale(1.1) translateX(-20px);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 40px;
  height: 120px;
}
.in-zone .wave:before {
  animation-name: oceanMotion;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wave-close {
  bottom: 1.9em;
  animation-duration: 3.4s;
}
.wave-close:before {
  background: url("../img/wave-close.svg") repeat-x 100% 100%;
  animation-duration: 2.1s;
}

.wave-near {
  animation-duration: 5.5s;
}
.wave-near:before {
  background: url("../img/wave-near.svg") repeat-x 60% 100%;
  animation-duration: 3.4s;
  transform: translateY(-10px);
}

.wave-mid {
  background: #002351;
  padding-top: 10px;
}
.wave-mid:before {
  background: url("../img/wave-mid.svg") repeat-x 0 10px;
  background-size: 305px 120px;
  animation-duration: 5.5s;
}

@keyframes oceanMotion {
  100% {
    transform: scale(1.1) translateX(30px);
  }
}
@keyframes oceanSurge {
  100% {
    transform: translateY(10px);
  }
}
#epipelagic {
  background: linear-gradient(to bottom, #39dbb4 0%, #007e84 50%, #0b4960 100%);
  color: #06191b;
}

#mesopelagic {
  background: linear-gradient(to bottom, #0b4960 0%, #0b4960 33%, #002351 67%, #000c1c 100%);
  color: #c6f3c7;
}

#bathypelagic {
  background: #000c1c;
  color: #c6f3c7;
}

#abyssal {
  background: #000c1c;
  color: #c6f3c7;
}

footer {
  background: #000c1c;
  color: #c6f3c7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 2em;
}
