.panel:before, #menu_options:before, .rewards a:before, .segment:before,
.panel:after,
#menu_options:after,
.rewards a:after,
.segment:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.panel:after, #menu_options:after, .rewards a:after, .segment:after {
  clear: both;
}

.dashOpen {
  overflow: hidden;
  position: fixed;
}

.leagueSpartanRegular400 .tab, .leagueSpartanRegular400 .toggle, .leagueSpartanRegular400 .rewards a, .rewards .leagueSpartanRegular400 a, .leagueSpartanRegular400 .sound-off .name, .sound-off .leagueSpartanRegular400 .name, .leagueSpartanRegular400 .crew .name, .crew .leagueSpartanRegular400 .name, .leagueSpartanRegular400 .challenge li, .challenge .leagueSpartanRegular400 li, .leagueSpartanRegular400 h1, .leagueSpartanRegular400 h2, .leagueSpartanRegular400 h3, .leagueSpartanRegular400 .featured, .leagueSpartanRegular400 strong {
  font-family: "leagueSpartanRegular", sans-serif;
  font-weight: 400;
}

.Merriweather400 h1, .Merriweather400 .subtitle, .Merriweather400 .menu, .Merriweather400 .challenge li p, .challenge li .Merriweather400 p, .Merriweather400 p, .Merriweather400 .followup {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.Merriweather700 .for-browsers, .Merriweather700 .crew strong, .crew .Merriweather700 strong, .Merriweather700 .crew .title, .crew .Merriweather700 .title, .Merriweather700 .thanks h4, .thanks .Merriweather700 h4, .Merriweather700 .progress, .Merriweather700 .rediscover, .Merriweather700 em, .Merriweather700 .red, .Merriweather700 .orange, .Merriweather700 .biolumiColor, .Merriweather700 .callout, .Merriweather700 blockquote, .Merriweather700 cite, .Merriweather700 small, .Merriweather700 .photophores label, .photophores .Merriweather700 label, .Merriweather700 .photophores figcaption, .photophores .Merriweather700 figcaption {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.for-browsers, .menu .download, .crew .title, .progress, .challenge .rediscover, small, .photophores label, .photophores figcaption {
  font-size: 0.8rem;
  line-height: 1rem;
}

h1, .subtitle, .title-card_wrapper, .menu, .segment, .followup, .standalone p, cite, .version, .photophores figcaption strong {
  font-size: 1rem;
  line-height: 2rem;
}

.subtitle em, .thanks h4, h3, .callout, blockquote, #d1200 em {
  font-size: 2rem;
  line-height: 2.66667rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.33333rem;
}

html {
  font-size: 93.75%;
  line-height: 0.33333em;
}

@font-face {
  font-family: 'leagueSpartanRegular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
}

a:link {
  color: #56fddb;
}
a:visited {
  color: #4ed9f2;
}
a:hover, a:active, a:focus {
  color: #A9DDF2;
}

/* Animations */
.segment, .challenge, .completed .challenge h3, .completed .challenge p, .completed .challenge ol, .completed .challenge video, .bonus {
  opacity: 0;
  -webkit-transition: opacity 2.1s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: opacity 2.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.segment.in-view, .in-view .challenge, .solved .bonus {
  opacity: 1;
}

.creature, .creature_humboldt-squid .darkening, .object {
  overflow: hidden;
  position: relative;
}
.creature:before, .creature_humboldt-squid .darkening:before, .object:before {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
}

/* Heading stuff. */
.sub {
  max-width: calc(100% + 3rem);
  margin: 2rem -3rem;
}

#surface {
  background: #A9DDF2;
  color: #000c1c;
  position: relative;
  z-index: 20;
}

h1, .subtitle {
  padding-bottom: 1rem;
}

.subtitle em {
  color: #0b4a61;
}

.subtitle {
  margin-bottom: 5rem;
}

#title {
  box-sizing: border-box;
  padding-bottom: 190px;
  min-height: 100vh;
}
#title a:link {
  color: #0b4a61;
}
#title a:visited {
  color: #002351;
}
#title a:hover, #title a:active, #title a:focus {
  color: #007e84;
}

.for-browsers {
  opacity: .8;
  margin-bottom: 5rem;
  display: none;
}
.non-ff .for-browsers {
  display: block;
}

.get-a-move-on {
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms 5.5s;
          transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 300ms 5.5s;
  height: 5rem;
  position: absolute;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  left: 50%;
  bottom: 190px;
  z-index: 1;
}
.loaded .get-a-move-on {
  opacity: 1;
}
.loaded.animated .get-a-move-on {
  -webkit-animation: letsGo infinite alternate 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: letsGo infinite alternate 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes letsGo {
  100% {
    -webkit-transform: translate(-50%, 25%);
            transform: translate(-50%, 25%);
  }
}

@keyframes letsGo {
  100% {
    -webkit-transform: translate(-50%, 25%);
            transform: translate(-50%, 25%);
  }
}
.waves_wrapper {
  background: -webkit-linear-gradient(top, #39dbb4 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, #39dbb4 0%, rgba(0, 0, 0, 0) 100%);
  height: 120px;
  position: absolute;
  left: 0;
  bottom: -180px;
  width: 100%;
  padding-bottom: 60px;
}

.waves {
  background: #39dbb4;
  height: 120px;
  position: absolute;
  left: 0;
  top: -120px;
  width: 100%;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  height: 130px;
}
.animated .in-zone .wave {
  -webkit-animation-name: oceanSurge;
          animation-name: oceanSurge;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.wave:before {
  content: " ";
  -webkit-transform: scale(1.1) translateX(-20px);
      -ms-transform: scale(1.1) translateX(-20px);
          transform: scale(1.1) translateX(-20px);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 40px;
  height: 120px;
}
.animated .in-zone .wave:before {
  -webkit-animation-name: oceanMotion;
          animation-name: oceanMotion;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.wave-close {
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}
.wave-close:before {
  background: url("../img/wave-close.svg") repeat-x 100% 100%;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
}

.wave-near {
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}
.wave-near:before {
  background: url("../img/wave-near.svg") repeat-x 100% 100%;
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.wave-mid {
  background: #002351;
  height: 130px;
}
.wave-mid:before {
  background: url("../img/wave-mid.svg") repeat-x 0 10px;
  background-size: 305px 120px;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@-webkit-keyframes oceanMotion {
  100% {
    -webkit-transform: scale(1.1) translateX(30px);
            transform: scale(1.1) translateX(30px);
  }
}

@keyframes oceanMotion {
  100% {
    -webkit-transform: scale(1.1) translateX(30px);
            transform: scale(1.1) translateX(30px);
  }
}
@-webkit-keyframes oceanSurge {
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes oceanSurge {
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@media (min-width: 54em) {
  h1 img {
    margin: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 30vh;
  }

  h1 {
    padding-bottom: 4vh;
  }

  h1, .title-wrapper {
    width: calc(50% - 2rem);
    float: left;
  }

  .title-card_wrapper {
    padding-top: 5vh;
  }

  .non-ff .subtitle {
    margin-bottom: 0;
  }

  .sub {
    max-width: auto;
    margin: -1rem 0 3rem;
    max-height: 80vh;
    float: right;
    width: calc(50%);
  }
}
/* UI */
.panel {
  box-sizing: border-box;
  width: 100%;
  max-height: calc(100vh - 11.66667rem);
  opacity: 0;
  overflow: auto;
  padding: 4rem 4rem 4rem 2rem;
  position: relative;
  -webkit-transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 0;
}
.panel:not(.crew) {
  position: absolute;
  top: 0;
  left: 0;
}
.panel.in-focus {
  opacity: 1;
  z-index: 1;
}

#dashboard {
  position: relative;
}
@media (min-width: 54em) {
  #dashboard {
    max-width: 102rem;
    margin: 0 auto;
  }
}

.menu {
  background: #000c1c;
  box-sizing: border-box;
  color: #c6f3c7;
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: background-color cubic-bezier(0.55, 0.055, 0.675, 0.19) 300ms, -webkit-transform cubic-bezier(0.645, 0.045, 0.355, 1) 500ms;
          transition: background-color cubic-bezier(0.55, 0.055, 0.675, 0.19) 300ms, transform cubic-bezier(0.645, 0.045, 0.355, 1) 500ms;
  -webkit-transform: translateY(calc(100% - 3.66667rem));
      -ms-transform: translateY(calc(100% - 3.66667rem));
          transform: translateY(calc(100% - 3.66667rem));
  z-index: 30;
}
.menu.hovered {
  -webkit-transform: translateY(calc(100% - 4rem));
      -ms-transform: translateY(calc(100% - 4rem));
          transform: translateY(calc(100% - 4rem));
}
.won .menu {
  background-image: url('../img/svg/bg_tentacles.svg?1445909976');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 135% 0;
  background-size: auto 100%;
}
.bathypelagic .menu, .abyssal .menu {
  background: #007e84;
}
.menu .logo {
  height: 35px;
  float: left;
  margin-right: 0.66667rem;
}
.menu .actions {
  float: right;
}
.menu .download {
  display: none;
  border: 2px solid #fff;
  border-radius: .25em;
  color: #fff;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 0.33333rem 1rem;
  -webkit-transition: background-color 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19), border-color 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: background-color 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19), border-color 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.non-ff .menu .download {
  display: inline-block;
}
.menu .download:hover, .menu .download:active, .menu .download:focus {
  background-color: #39dbb4;
  border: 2px solid #39dbb4;
}

#menu_options {
  margin: 0;
  padding: 0.33333rem 4rem 0.33333rem 2rem;
  text-align: center;
}
#menu_options .ff-download {
  margin-top: 0.33333rem;
  float: left;
}

.controls {
  display: inline-block;
  margin-top: 0.66667rem;
}

#tabs {
  float: right;
}

.tab, .toggle {
  margin-left: 0.33333rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
}
.tab:hover, .tab:active, .tab:focus, .toggle:hover, .toggle:active, .toggle:focus {
  color: #4ed9f2;
}

.tab {
  letter-spacing: .1em;
  padding: 0.33333rem 1rem;
  border-radius: .25em;
  margin-top: 0.33333rem;
  -webkit-transition: background 200ms cubic-bezier(0.215, 0.61, 0.355, 1), color 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: background 200ms cubic-bezier(0.215, 0.61, 0.355, 1), color 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.tab:hover, .tab:active, .tab:focus, .tab.active {
  background: rgba(0, 12, 28, 0.4);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19), cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19), cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.tab.active {
  color: #c6244b;
}
.tab svg {
  width: 1.33333rem;
  height: 1.33333rem;
}

.share_tab path {
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
}

.crew_tab path {
  fill: currentColor;
}

.toggle.activated {
  color: #4ed9f2;
}

.toggle_bg {
  position: relative;
  width: 53px;
  height: 24px;
}
.toggle_bg:before, .toggle_bg:after {
  font-size: 10px;
  display: block;
  letter-spacing: 0;
  position: absolute;
  top: -3px;
}
.animated .toggle_bg:before, .animated .toggle_bg:after {
  -webkit-transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toggle_bg:before {
  content: "off";
  left: 26px;
}
.toggle_bg:after {
  content: "on";
  left: 8px;
  opacity: 0;
}
.toggle_bg path, .toggle_bg circle {
  fill: rgba(0, 12, 28, 0.4);
  stroke: currentColor;
  stroke-width: 2;
}
.activated .toggle_bg:before {
  opacity: 0;
}
.activated .toggle_bg:after {
  opacity: 1;
}

.toggle_button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.toggle_button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.activated .toggle_button {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
}
.animated .toggle_button {
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toggle_button .nob circle {
  stroke: #A9DDF2;
}
.toggle_button .icon path, .toggle_button .icon circle {
  fill: #A9DDF2;
  stroke: none;
}

@media (min-width: 54em) {
  .ending .accolades, .ending .rewards {
    float: left;
    width: calc(50% - 1em);
  }
  .ending .rewards {
    float: right;
  }
}

.rewards {
  text-align: center;
}
@media (min-width: 54em) {
  .rewards {
    padding-top: 3rem;
  }
}
.rewards a {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.33333rem;
  text-align: left;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), background 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19), color 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), background 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19), color 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  width: 13rem;
  margin: 0 1rem 1rem;
}
.rewards a path {
  fill: currentColor;
}
.rewards a svg {
  width: 3rem;
  float: left;
}
.rewards a span {
  width: 9rem;
  float: right;
}
.rewards a:link, .rewards a:visited {
  background: #56fddb;
  color: #007e84;
}
.rewards a:hover, .rewards a:active, .rewards a:focus {
  background: #4ed9f2;
  color: #000c1c;
  -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.join-the-deep {
  display: none;
  text-align: center;
  margin: 1rem 0;
}
.join-the-deep a {
  display: inline-block;
}
.non-ff .join-the-deep {
  display: block;
}
.join-the-deep .ff-download {
  display: inline-block;
}
.join-the-deep .download {
  margin-top: 1rem;
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.crew li, .crew ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.crew ul {
  text-align: center;
}

.sound-off li {
  display: inline-block;
  width: 120px;
  margin: 1rem 2rem;
  vertical-align: top;
}
.sound-off .name {
  margin: 2rem 0 0.33333rem;
}

.crew h3 {
  margin-bottom: 1rem;
}
.crew a {
  text-decoration: none;
}
.crew picture {
  position: relative;
  display: block;
}
.crew picture img {
  border-radius: 100%;
}
.crew picture:before {
  content: " ";
  display: block;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: url('../img/svg/porthole.svg?1445909976') 0 0/100% 100%;
}
.crew .nautical, .crew .irl {
  -webkit-transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.crew .irl {
  position: relative;
  opacity: 0;
}
.crew .nautical {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.crew li:hover .irl {
  opacity: 1;
  z-index: 1;
}
.crew li:hover .nautical {
  opacity: 0;
}
.crew .name {
  margin: 2rem 0 0.33333rem;
}
.crew .title {
  position: relative;
}

.thanks {
  padding-bottom: 2rem;
}
.thanks h4 {
  text-align: center;
}
.thanks li {
  display: inline-block;
  margin: 0 1rem;
}
.thanks .title {
  text-align: left;
}

.progress {
  width: 2rem;
  position: fixed;
  right: .5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.progress ul, .progress li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.progress .visited {
  display: block;
  opacity: 1;
}
.progress .completed circle {
  fill: #fff;
}
.progress .completed path {
  fill: #0b4a61;
}
.progress svg {
  color: #000c1c;
  display: block;
  max-height: 5vh;
  width: 2rem;
  position: relative;
  z-index: 2;
}
.progress svg circle {
  fill: #56fddb;
  -webkit-transition: fill cubic-bezier(0.55, 0.055, 0.675, 0.19) 300ms;
          transition: fill cubic-bezier(0.55, 0.055, 0.675, 0.19) 300ms;
}
.progress svg path {
  fill: currentColor;
}
.progress a {
  display: block;
  paddng: .25rem;
}
.progress li {
  display: none;
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 200ms;
          transition: opacity cubic-bezier(0.215, 0.61, 0.355, 1) 200ms;
  position: relative;
}
.progress li:not(:first-child) {
  background: url("../img/icons/progress-dots.svg") no-repeat top center;
  background-size: 5vh auto;
  padding-top: 5vh;
}
.progress li:not(:first-child) span {
  top: calc(5vh - .6667em );
}
.progress li span {
  background: rgba(11, 74, 97, 0.8);
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: -1rem;
  padding-right: .5rem;
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.68, -0.55, 0.265, 1.55) 200ms 200ms, -webkit-transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 500ms 200ms;
          transition: opacity cubic-bezier(0.68, -0.55, 0.265, 1.55) 200ms 200ms, transform cubic-bezier(0.68, -0.55, 0.265, 1.55) 500ms 200ms;
  width: 15rem;
  padding: 0.66667rem;
  z-index: 1;
}
.progress li span:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-left-color: rgba(11, 74, 97, 0.8);
  border-width: .5rem;
  margin-top: -.5rem;
}
.progress li a:hover span {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 1;
}

#challenge_orange-roughy svg {
  color: #c6244b;
}

.addthis_sharing_toolbox {
  display: inline-block;
  margin: 0 auto;
}

.segment {
  min-height: 100vh;
  padding: 4rem 4rem 4rem 2rem;
  position: relative;
}
@media (min-width: 54em) {
  .segment {
    max-width: 102rem;
    margin: 0 auto;
  }
}
.segment * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.segment.in-view * {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

h3 + .content {
  padding-top: 0;
}

.challenge_wrapper > h3 {
  padding-top: 1rem;
}

.bonus {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}
.completed .bonus {
  opacity: 1;
}

@media (min-width: 35em) {
  .content p, .challenge p, .panel p {
    padding-bottom: 0;
  }
  .content p:not(:first-of-type), .challenge p:not(:first-of-type), .panel p:not(:first-of-type) {
    text-indent: 4em;
  }
}

@media (min-width: 54em) {
  .content, .challenge {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  .content ul, .content ol, .challenge ul, .challenge ol {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
  }
}

.video {
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 100%;
  height: auto;
}

.challenge_wrapper {
  position: relative;
  z-index: 1;
}

.challenge {
  -webkit-transition-property: opacity, background;
          transition-property: opacity, background;
  padding: 1rem 1em;
  position: relative;
  z-index: 1;
  margin: 0 -1em;
}
.challenge .rediscover {
  position: absolute;
  top: 0.33333rem;
  right: 0.33333rem;
}
.completed .challenge {
  pointer-events: none;
  z-index: 0;
}
.challenge ol, .challenge li {
  margin: 0;
  padding: 0;
}
.challenge ol {
  padding-bottom: 1rem;
}
.challenge li {
  padding-top: 0.33333rem;
  margin-left: 1.66667rem;
  padding-left: 0.33333rem;
}
.challenge li p:first-child {
  padding: 0;
}

.rediscover {
  color: #56fddb;
  cursor: pointer;
  text-decoration: underline;
}

h2 {
  padding-bottom: 2rem;
}

.red {
  color: #c6244b;
}

.orange {
  color: #ff9100;
}

.biolumiColor {
  color: #56fddb;
}

p {
  padding-bottom: 1rem;
}

.callout {
  padding-top: 0.33333rem;
  padding-bottom: 0.33333rem;
  text-align: center;
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

.followup {
  padding-top: 0.33333rem;
  padding-bottom: 0.33333rem;
  text-align: center;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.standalone {
  max-width: 50em;
  margin: 0 auto;
}
.standalone p {
  padding-bottom: 2rem;
}

blockquote {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  opacity: .7;
  padding-top: 0.33333rem;
  padding-bottom: 0.33333rem;
}
blockquote:first-child {
  padding: 0;
  margin: 0;
}

cite {
  font-style: normal;
  display: block;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  text-align: right;
}
cite:before {
  content: "\2014";
}

/* Footer */
footer {
  background: -webkit-linear-gradient(top, #c6f3c7 0%, #9cea9e 100%);
  background: linear-gradient(to bottom, #c6f3c7 0%, #9cea9e 100%);
  color: #436c6f;
  padding-bottom: 5rem;
  text-align: center;
}

.version {
  display: block;
}

.wordmark {
  display: block;
  margin: 0 auto;
  height: 3rem;
  padding: 0.33333rem;
}

/* Zones */
#epipelagic {
  background: -webkit-linear-gradient(top, #39dbb4 0%, #007e84 50%, #0b4960 100%);
  background: linear-gradient(to bottom, #39dbb4 0%, #007e84 50%, #0b4960 100%);
  color: #000c1c;
  padding-top: calc(180px + 2rem);
}

#mesopelagic {
  background: -webkit-linear-gradient(top, #0b4960 0%, #0b4960 33%, #002351 67%, #000c1c 100%);
  background: linear-gradient(to bottom, #0b4960 0%, #0b4960 33%, #002351 67%, #000c1c 100%);
  color: #c6f3c7;
}

#bathypelagic {
  background: #000c1c;
  color: #c6f3c7;
}

#abyssal {
  background: #000c1c;
  color: #c6f3c7;
}

/* Challenges */
/* Props */
.creatures2x-sprite {
  background-image: url('../img/creatures2x-sbdfc2a3e3c.png');
  background-repeat: no-repeat;
}

.creatures-sprite {
  background-image: url('../img/creatures-sd6102f5e9f.png');
  background-repeat: no-repeat;
}

.creature .lumi, .creature_humboldt-squid .darkening .lumi {
  position: absolute;
}

@media (max-device-pixel-ratio: 1), (-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi) {
  .creature:before, .creature_humboldt-squid .darkening:before, .creature:after, .creature_humboldt-squid .darkening:after {
    background-image: url('../img/creatures-sd6102f5e9f.png');
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature:before, .creature_humboldt-squid .darkening:before, .creature:after, .creature_humboldt-squid .darkening:after {
    background-image: url('../img/creatures2x-sbdfc2a3e3c.png');
  }
}
/* Props */
.objects2x-sprite {
  background-image: url('../img/objects2x-s386e065297.png');
  background-repeat: no-repeat;
}

.objects-sprite, .luminous-spew:before {
  background-image: url('../img/objects-s960a7507d0.png');
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .object:before {
    background-image: url('../img/objects2x-s386e065297.png');
  }
}
.creature_flashlight-fish {
  width: 186px;
  height: 96px;
}
.creature_flashlight-fish:before {
  background-position: 0 4.61313%;
  background-size: 301.07527% auto;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_flashlight-fish:before {
    background-size: 301.07527% auto;
    background-position: 0 4.61538%;
  }
}
.creature_flashlight-fish .lumi {
  left: 82.25806%;
  top: 63.54167%;
  width: 12.63441%;
}

#creature_flashlight-fish1 {
  -webkit-animation: swimmyFlashy 5.5s -0.75s linear infinite paused;
          animation: swimmyFlashy 5.5s -0.75s linear infinite paused;
  margin: 1rem auto;
}
#creature_flashlight-fish1 .lumi {
  pointer-events: none;
}

@-webkit-keyframes swimmyFlashy {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}

@keyframes swimmyFlashy {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
}
.school_flashlight-fish {
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.55, 0.055, 0.675, 0.19) 500ms;
          transition: opacity cubic-bezier(0.55, 0.055, 0.675, 0.19) 500ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.school_flashlight-fish .creature_flashlight-fish {
  position: absolute;
}
.completed .school_flashlight-fish {
  opacity: 1;
}

.schooling_flashlight-fish {
  pointer-events: none;
  padding: 0 2em;
  margin: 0 -2em;
  width: 100%;
  height: 100%;
  position: absolute;
}
.schooling_flashlight-fish .lumi {
  -webkit-animation: winking steps(1) paused infinite 500ms;
          animation: winking steps(1) paused infinite 500ms;
}
.animated .in-view.completed .schooling_flashlight-fish .lumi {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.schooling_flashlight-fish .creature_flashlight-fish:nth-child(odd) .lumi {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}
.schooling_flashlight-fish .creature_flashlight-fish:nth-child(3) .lumi {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.schooling_flashlight-fish .creature_flashlight-fish:nth-child(4) .lumi {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

@-webkit-keyframes winking {
  50% {
    opacity: 0;
  }
}

@keyframes winking {
  50% {
    opacity: 0;
  }
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(0n+1) {
  top: 40%;
  right: 46%;
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(0n+2) {
  top: 20%;
  left: 5%;
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(0n+3) {
  top: 64%;
  left: 44%;
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(0n+4) {
  top: 60%;
  left: 10%;
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(0n+5) {
  top: 30%;
  left: 25%;
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(0n+6) {
  top: 10%;
  right: 10%;
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(0n+7) {
  top: 50%;
  left: 90%;
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(odd) {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(odd):before {
  -webkit-filter: url("../img/blue-filter.svg#seafish") brightness(20%) saturate(20%);
          filter: url("../img/blue-filter.svg#seafish") brightness(20%) saturate(20%);
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(even) {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}
#school_flashlight-fish_bg .creature_flashlight-fish:nth-child(even):before {
  -webkit-filter: url("../img/blue-filter.svg#seafish") brightness(30%) saturate(30%);
          filter: url("../img/blue-filter.svg#seafish") brightness(30%) saturate(30%);
}

#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(0n+1) {
  top: 68%;
  left: 41%;
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(0n+2) {
  top: 55%;
  left: 0%;
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(0n+3) {
  top: 12%;
  left: 15%;
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(0n+4) {
  top: 20%;
  right: 24%;
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(0n+5) {
  top: 36%;
  right: 0%;
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(odd) {
  -webkit-transform: scale(-0.85, 0.85);
      -ms-transform: scale(-0.85, 0.85);
          transform: scale(-0.85, 0.85);
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(odd):before {
  -webkit-filter: url("../img/blue-filter.svg#seafish") brightness(40%) saturate(40%);
          filter: url("../img/blue-filter.svg#seafish") brightness(40%) saturate(40%);
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(even) {
  -webkit-transform: scale(-0.9, 0.9);
      -ms-transform: scale(-0.9, 0.9);
          transform: scale(-0.9, 0.9);
}
#school_flashlight-fish_fg .creature_flashlight-fish:nth-child(even):before {
  -webkit-filter: url("../img/blue-filter.svg#seafish") brightness(50%) saturate(50%);
          filter: url("../img/blue-filter.svg#seafish") brightness(50%) saturate(50%);
}

#school_flashlight-fish1 {
  -webkit-animation: flashlight-swim paused linear infinite 5.5s;
          animation: flashlight-swim paused linear infinite 5.5s;
}
.animated .completed.in-view #school_flashlight-fish1 {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes flashlight-swim {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes flashlight-swim {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
#school_flashlight-fish2 {
  -webkit-animation: flashlight-swim2 paused linear infinite 5.5s;
          animation: flashlight-swim2 paused linear infinite 5.5s;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}
.animated .completed.in-view #school_flashlight-fish2 {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes flashlight-swim2 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes flashlight-swim2 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
#school_flashlight-fish3 {
  -webkit-animation: flashlight-swim3 paused linear infinite 5.5s;
          animation: flashlight-swim3 paused linear infinite 5.5s;
}
.animated .completed.in-view #school_flashlight-fish3 {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes flashlight-swim3 {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes flashlight-swim3 {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
#school_flashlight-fish4 {
  -webkit-animation: flashlight-swim4 paused linear infinite 5.5s;
          animation: flashlight-swim4 paused linear infinite 5.5s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
}
.animated .completed.in-view #school_flashlight-fish4 {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes flashlight-swim4 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes flashlight-swim4 {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
#d400 .schools {
  position: relative;
  height: 400px;
  margin-top: 2rem;
}

@media (max-width: 54em) {
  #d600 .challenge ol {
    float: left;
    width: calc(100% - 219.5px - 2rem);
  }
  #d600 .puzzle {
    width: 219.5px;
    float: right;
  }
  #d600 .content {
    padding-right: calc(219.5px + 2rem);
  }
}
@media (min-width: 54em) {
  #d600 .content, #d600 .challenge {
    -webkit-column-gap: calc(219.5px + 4rem);
       -moz-column-gap: calc(219.5px + 4rem);
            column-gap: calc(219.5px + 4rem);
  }
  #d600 .puzzle {
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translateX(40%);
        -ms-transform: translateX(40%);
            transform: translateX(40%);
    width: 219.5px;
    z-index: 1;
  }
}
#d600 .puzzle {
  height: 100vh;
}

.creature_nautilus {
  width: 224px;
  height: 210px;
}
.creature_nautilus:before {
  background-position: 63.09524% 17.02668%;
  background-size: 250% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_nautilus:before {
    background-size: 250% auto;
    background-position: 63.09524% 16.98449%;
  }
}

.in-view #creature_nautilus1 {
  -webkit-animation: nautyBounce 3.4s infinite alternate;
          animation: nautyBounce 3.4s infinite alternate;
}
.in-view #creature_nautilus1:before {
  -webkit-animation: nautyRaspberry steps(1) 2.1s infinite;
          animation: nautyRaspberry steps(1) 2.1s infinite;
}

.in-view #creature_nautilus1 {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes nautyRaspberry {
  25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  35% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes nautyRaspberry {
  25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  35% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@-webkit-keyframes nautyBounce {
  100% {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
}
@keyframes nautyBounce {
  100% {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
}
#d800 .content, #d800 .challenge {
  -webkit-column-count: unset;
     -moz-column-count: unset;
          column-count: unset;
}
@media (min-width: 841px) {
  #d800 .challenge_wrapper {
    float: left;
    width: calc(50% - 1rem);
  }
  #d800 .puzzle {
    float: right;
    width: calc(50% - 1rem);
  }
}

.creature_humboldt-squid {
  width: 560px;
  height: 516px;
}
.creature_humboldt-squid:before {
  background-position: 0 66.8487%;
  background-size: 100% auto;
  height: 400%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_humboldt-squid:before {
    background-size: 100% auto;
    background-position: 0 66.82739%;
  }
}

.creature_humboldt-squid .darkening {
  -webkit-filter: none;
          filter: none;
  width: 560px;
  height: 516px;
  position: absolute;
  top: 0;
  left: 0;
}
.creature_humboldt-squid .darkening:before {
  background-position: 0 100%;
  background-size: 100% auto;
  height: 400%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_humboldt-squid .darkening:before {
    background-size: 100% auto;
    background-position: 0 100%;
  }
}
.animated .in-view .creature_humboldt-squid .darkening {
  -webkit-animation: excited 70ms infinite alternate linear;
          animation: excited 70ms infinite alternate linear;
}
.in-view .creature_humboldt-squid .darkening {
  -webkit-animation: excited 500ms infinite alternate linear;
          animation: excited 500ms infinite alternate linear;
}

.in-view .creature_humboldt-squid:before, .in-view .creature_humboldt-squid .darkening:before {
  -webkit-animation: hunting steps(3) 1.3s infinite alternate;
          animation: hunting steps(3) 1.3s infinite alternate;
}

#creature_humboldt-squid1 {
  -webkit-transform: scale(-1) translateY(10%);
      -ms-transform: scale(-1) translateY(10%);
          transform: scale(-1) translateY(10%);
}

#creature_humboldt-squid2 {
  -webkit-transform: scale(0.9) translate(5%, -41%);
      -ms-transform: scale(0.9) translate(5%, -41%);
          transform: scale(0.9) translate(5%, -41%);
}

@-webkit-keyframes hunting {
  100% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}

@keyframes hunting {
  100% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}
@-webkit-keyframes excited {
  100% {
    opacity: 0;
  }
}
@keyframes excited {
  100% {
    opacity: 0;
  }
}
#d1600 .puzzle {
  -webkit-column-break-after: always;
     page-break-after: always;
          break-after: always;
  padding-bottom: 1.66667rem;
  position: relative;
  height: 275px;
}
#d1600 .keeptogether {
  display: inline-block;
  width: 100%;
}

@media (min-width: 54em) {
  #d1600 .content {
    -webkit-column-count: unset;
       -moz-column-count: unset;
            column-count: unset;
    padding-right: calc(50% + 2rem);
  }
}
@media (max-width: 1116px) {
  #d1600 .content, #d1600 .challenge {
    -webkit-column-count: unset;
       -moz-column-count: unset;
            column-count: unset;
  }
  #d1600 .content {
    padding-right: 0;
  }
}
.creature_orange-roughy {
  width: 500px;
  height: 275px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.creature_orange-roughy:before {
  background-position: 0 22.73902%;
  background-size: 112.0% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_orange-roughy:before {
    background-size: 112.0% auto;
    background-position: 0 22.69907%;
  }
}
.in-view .creature_orange-roughy {
  -webkit-animation: gentlyHovering cubic-bezier(0.645, 0.045, 0.355, 1) 5.5s infinite alternate;
          animation: gentlyHovering cubic-bezier(0.645, 0.045, 0.355, 1) 5.5s infinite alternate;
}
.in-view .creature_orange-roughy:before {
  -webkit-animation: roughSwimming steps(1) 5.5s alternate-reverse infinite;
          animation: roughSwimming steps(1) 5.5s alternate-reverse infinite;
}

@-webkit-keyframes gentlyHovering {
  100% {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
}

@keyframes gentlyHovering {
  100% {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
}
@-webkit-keyframes roughSwimming {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes roughSwimming {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.orange-roughy-revelation {
  opacity: 0 !important;
}

.animated .in-view.completed#d2600 .puzzle .lumi {
  -webkit-animation: winking steps(1) infinite 500ms;
          animation: winking steps(1) infinite 500ms;
}

#d2600 .puzzle {
  position: relative;
  height: 800px;
  max-width: 716px;
  margin: 4rem auto 0;
  height: 800px;
}
#d2600 .puzzle .creature, #d2600 .puzzle .creature_humboldt-squid .darkening, .creature_humboldt-squid #d2600 .puzzle .darkening {
  position: absolute;
}
#d2600 .puzzle .lumi path, #d2600 .specimen_dragonfish .lumi path {
  fill: #12454b;
}
#d2600 .video {
  margin-bottom: 2rem;
}
#d2600 .content, #d2600 .challenge {
  -webkit-column-count: unset;
     -moz-column-count: unset;
          column-count: unset;
}
@media (min-width: 1153px) {
  #d2600 .challenge_wrapper {
    float: right;
    width: calc(50% - 1rem);
  }
  #d2600 .puzzle {
    float: left;
    width: calc(50% - 1rem);
  }
}

.photophores {
  padding: 0;
  text-align: center;
  width: 500px;
  margin: 1rem auto 0;
  position: relative;
}
.photophores figcaption {
  clear: both;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.photophores figcaption strong {
  display: block;
}
.photophores .dish {
  background: #fff;
  border-radius: 100%;
  position: relative;
}
.photophores .pointer {
  width: 151px;
  height: 145px;
  position: absolute;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -18%);
      -ms-transform: translate(-50%, -18%);
          transform: translate(-50%, -18%);
}

.specimen_flashlight-fish {
  float: right;
}

.specimen_dragonfish {
  float: left;
}

.dish_flashlight-fish {
  width: 226px;
  height: 226px;
}
.dish_flashlight-fish:before {
  background-position: 67.66467% 9.64782%;
  background-size: 247.78761% auto;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .dish_flashlight-fish:before {
    background-size: 247.78761% auto;
    background-position: 67.66467% 9.60298%;
  }
}
.dish_flashlight-fish .lumi {
  left: 19.46903%;
  top: 38.71681%;
  width: 40.48673%;
}
.dish_flashlight-fish .lumi {
  fill: #56fddb;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.dish_flashlight-fish:before {
  right: -2px;
  top: -2px;
  position: relative;
}

.dish_dragonfish {
  width: 226px;
  height: 226px;
}
.dish_dragonfish:before {
  background-position: 0 9.64782%;
  background-size: 247.78761% auto;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .dish_dragonfish:before {
    background-size: 247.78761% auto;
    background-position: 0 9.60298%;
  }
}
.dish_dragonfish .lumi {
  left: 56.63717%;
  top: 44.69027%;
  width: 19.9115%;
}
.dish_dragonfish:before {
  left: -2px;
  position: relative;
}

.creature_viperfish {
  width: 432px;
  height: 214px;
  top: 450px;
  left: -20%;
}
.creature_viperfish:before {
  background-position: 0 6.93756%;
  background-size: 129.62963% auto;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_viperfish:before {
    background-size: 129.62963% auto;
    background-position: 0 6.93756%;
  }
}
.creature_viperfish .lumi {
  left: 16.55093%;
  top: 1.40187%;
  width: 70.83333%;
}

.creature_gulper-eel {
  width: 282px;
  height: 498px;
  right: 0;
  top: 0;
}
.creature_gulper-eel:before {
  background-position: 0 43.40554%;
  background-size: 198.58156% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_gulper-eel:before {
    background-size: 198.58156% auto;
    background-position: 0 43.37449%;
  }
}
.creature_gulper-eel .lumi {
  left: 5.31915%;
  top: 49.6988%;
  width: 20.39007%;
}
.creature_gulper-eel .lumi {
  -webkit-animation-delay: 300ms !important;
          animation-delay: 300ms !important;
}
.in-view .creature_gulper-eel:before {
  -webkit-animation: wriggle steps(1) 500ms infinite;
          animation: wriggle steps(1) 500ms infinite;
}

.creature_dragonfish {
  width: 482px;
  height: 168px;
  left: 10%;
  top: -81px;
}
.creature_dragonfish:before {
  background-position: 0 12.62258%;
  background-size: 116.18257% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_dragonfish:before {
    background-size: 116.18257% auto;
    background-position: 0 12.57862%;
  }
}
.creature_dragonfish .lumi {
  left: 8.71369%;
  top: 6.25%;
  width: 83.92116%;
}
.in-view .creature_dragonfish:before {
  -webkit-animation: wriggle steps(1) 500ms infinite;
          animation: wriggle steps(1) 500ms infinite;
}

.creature_anglerfish {
  width: 212px;
  height: 196px;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  top: 138px;
  left: 16%;
  z-index: 1;
}
.creature_anglerfish:before {
  background-position: 0 16.96632%;
  background-size: 264.15094% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_anglerfish:before {
    background-size: 264.15094% auto;
    background-position: 0 16.92425%;
  }
}
.creature_anglerfish .lumi {
  -webkit-animation: none !important;
          animation: none !important;
}
.in-view .creature_anglerfish:before {
  -webkit-animation: wriggle steps(1) 500ms infinite;
          animation: wriggle steps(1) 500ms infinite;
}

.creature_bristlemouth {
  width: 282px;
  height: 62px;
  top: 370px;
  left: 10%;
}
.creature_bristlemouth:before {
  background-position: 0 0;
  background-size: 198.58156% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_bristlemouth:before {
    background-size: 198.58156% auto;
    background-position: 0 0;
  }
}
.creature_bristlemouth .lumi {
  left: 2.83688%;
  top: 43.54839%;
  width: 65.24823%;
}
.creature_bristlemouth .lumi {
  -webkit-animation-delay: 200ms !important;
          animation-delay: 200ms !important;
}
.in-view .creature_bristlemouth:before {
  -webkit-animation: wriggle steps(1) 500ms infinite;
          animation: wriggle steps(1) 500ms infinite;
}

#d4400 .puzzle {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  position: relative;
  height: 181px;
}
#d4400 .creature, #d4400 .creature_humboldt-squid .darkening, .creature_humboldt-squid #d4400 .darkening {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (min-width: 54em) {
  #d4400 .content {
    -webkit-column-count: unset;
       -moz-column-count: unset;
            column-count: unset;
    padding-right: calc(50% + 2rem);
  }
}
@media (max-width: 1116px) {
  #d4400 .content, #d4400 .challenge {
    -webkit-column-count: unset;
       -moz-column-count: unset;
            column-count: unset;
  }
  #d4400 .content {
    padding-right: 0;
  }
}
.creature_alarm-jellyfish {
  color: transparent;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  width: 182px;
  height: 182px;
}
.creature_alarm-jellyfish:before {
  background-position: 44.97354% 1.85002%;
  background-size: 307.69231% auto;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_alarm-jellyfish:before {
    background-size: 307.69231% auto;
    background-position: 44.97354% 1.85094%;
  }
}
.creature_alarm-jellyfish:after {
  background-position: 49.20635% 4.66206%;
  background-size: 307.69231% auto;
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_alarm-jellyfish:after {
    background-size: 307.69231% auto;
    background-position: 49.20635% 4.66436%;
  }
}
.creature_alarm-jellyfish .lumi {
  left: 3.2967%;
  top: 17.85714%;
  width: 48.07692%;
}
.creature_alarm-jellyfish .st1 {
  fill: currentColor;
}
.in-view .creature_alarm-jellyfish {
  -webkit-animation: alarmed 800ms infinite alternate cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: alarmed 800ms infinite alternate cubic-bezier(0.645, 0.045, 0.355, 1);
}
.creature_alarm-jellyfish:before, .creature_alarm-jellyfish:after, .creature_alarm-jellyfish .lumi {
  pointer-events: none;
}

@-webkit-keyframes alarmed {
  100% {
    fill: #c6244b;
  }
}

@keyframes alarmed {
  100% {
    fill: #c6244b;
  }
}
.creature_fangtooth {
  width: 144px;
  height: 75px;
  pointer-effects: none;
  -webkit-transform: translate(-25%, 30%) rotate(20deg);
      -ms-transform: translate(-25%, 30%) rotate(20deg);
          transform: translate(-25%, 30%) rotate(20deg);
  -webkit-transition: -webkit-transform 1.3s 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 800ms 1.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: transform 1.3s 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 800ms 1.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.creature_fangtooth:before {
  background-position: 67.78846% 0;
  background-size: 388.88889% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_fangtooth:before {
    background-size: 388.88889% auto;
    background-position: 67.78846% 0;
  }
}
.completed .creature_fangtooth {
  opacity: 0;
  -webkit-transform: translate(-325%, -70%) rotate(10deg);
      -ms-transform: translate(-325%, -70%) rotate(10deg);
          transform: translate(-325%, -70%) rotate(10deg);
}
.in-view .creature_fangtooth:before {
  -webkit-animation: snappingJaws steps(1) 500ms infinite;
          animation: snappingJaws steps(1) 500ms infinite;
}

@-webkit-keyframes snappingJaws {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes snappingJaws {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.creature_rattail {
  width: 414px;
  height: 214px;
  -webkit-transform: translate(50%, 50%) rotate(30deg);
      -ms-transform: translate(50%, 50%) rotate(30deg);
          transform: translate(50%, 50%) rotate(30deg);
  opacity: 0;
  -webkit-transition: -webkit-transform 2.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition: transform 2.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.creature_rattail:before {
  background-position: 0 31.07345%;
  background-size: 135.2657% auto;
  height: 400%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_rattail:before {
    background-size: 135.2657% auto;
    background-position: 0 31.03634%;
  }
}
.completed .creature_rattail {
  -webkit-animation: comeWithMe 800ms 1.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
          animation: comeWithMe 800ms 1.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
  -webkit-transform: translate(-100%, -30%) rotate(5deg);
      -ms-transform: translate(-100%, -30%) rotate(5deg);
          transform: translate(-100%, -30%) rotate(5deg);
  opacity: 1;
}
.in-view .creature_rattail:before {
  -webkit-animation: whatSeemsToBeTheProblem steps(3) 1.3s alternate infinite;
          animation: whatSeemsToBeTheProblem steps(3) 1.3s alternate infinite;
}

@-webkit-keyframes whatSeemsToBeTheProblem {
  50% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}

@keyframes whatSeemsToBeTheProblem {
  50% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
}
@-webkit-keyframes comeWithMe {
  100% {
    opacity: 0;
  }
}
@keyframes comeWithMe {
  100% {
    opacity: 0;
  }
}
#d5000 .puzzle {
  width: 300px;
  height: 270px;
  position: relative;
}

.creature_vomiting-shrimp {
  width: 170px;
  height: 114px;
}
.creature_vomiting-shrimp:before {
  background-position: 0 1.86058%;
  background-size: 329.41176% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_vomiting-shrimp:before {
    background-size: 329.41176% auto;
    background-position: 0 1.8615%;
  }
}

#creature_vomiting-shrimp1 {
  position: absolute;
  top: 40%;
  left: 25%;
}
.in-view #creature_vomiting-shrimp1 {
  -webkit-animation: escapingGloriously cubic-bezier(0.215, 0.61, 0.355, 1) 500ms 200ms forwards;
          animation: escapingGloriously cubic-bezier(0.215, 0.61, 0.355, 1) 500ms 200ms forwards;
}
.in-view #creature_vomiting-shrimp1:before {
  -webkit-animation: tailTuck steps(1) 300ms 1 forwards;
          animation: tailTuck steps(1) 300ms 1 forwards;
}

@-webkit-keyframes escapingGloriously {
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes escapingGloriously {
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
  }
}
@-webkit-keyframes tailTuck {
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes tailTuck {
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.luminous-spew {
  width: 300px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-animation: incriminatingPuke cubic-bezier(0.645, 0.045, 0.355, 1) 2.1s 1.3s infinite alternate;
          animation: incriminatingPuke cubic-bezier(0.645, 0.045, 0.355, 1) 2.1s 1.3s infinite alternate;
}
.luminous-spew:before {
  background-position: 0 0;
  background-size: 100% auto;
  height: 400%;
}
.luminous-spew:before {
  background-size: 100% 100%;
  pointer-events: none;
}
.in-view .luminous-spew:before {
  -webkit-transition: -webkit-transform steps(4, end) 500ms;
          transition: transform steps(4, end) 500ms;
}

@-webkit-keyframes incriminatingPuke {
  100% {
    opacity: .8;
  }
}

@keyframes incriminatingPuke {
  100% {
    opacity: .8;
  }
}
#d6000 {
  padding-bottom: calc(140px + 2rem);
  margin-bottom: -140px;
  box-sizing: border-box;
}

.creature_hagfish {
  width: 204px;
  height: 89px;
  position: absolute;
  bottom: -20px;
  right: 2em;
  z-index: 1;
}
.creature_hagfish:before {
  background-position: 79.21348% 39.0286%;
  background-size: 274.5098% auto;
  height: 200%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .creature_hagfish:before {
    background-size: 274.5098% auto;
    background-position: 79.21348% 38.99852%;
  }
}
.in-view .creature_hagfish {
  -webkit-animation: wrigglingAround cubic-bezier(0.645, 0.045, 0.355, 1) 300ms infinite;
          animation: wrigglingAround cubic-bezier(0.645, 0.045, 0.355, 1) 300ms infinite;
}
.in-view .creature_hagfish:before {
  -webkit-animation: wriggle steps(1) 300ms infinite;
          animation: wriggle steps(1) 300ms infinite;
}

#creature_hagfish1 {
  position: absolute;
  bottom: 105px;
  right: 4rem;
}

#creature_hagfish1 {
  bottom: 0;
}

@-webkit-keyframes wrigglingAround {
  50% {
    -webkit-transform: translate(-1%, -1%);
            transform: translate(-1%, -1%);
  }
}

@keyframes wrigglingAround {
  50% {
    -webkit-transform: translate(-1%, -1%);
            transform: translate(-1%, -1%);
  }
}
@-webkit-keyframes wriggle {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes wriggle {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.ooze {
  pointer-events: none;
  background: #12454b;
  height: 140px;
  width: 100%;
  position: relative;
}

.ooze_near {
  background: url('../img/ooze_near.svg?1445360730') repeat-x 0 30px;
  z-index: 2;
}

.ooze_far {
  background: url('../img/ooze_far.svg?1445360730') repeat-x 0 10px;
}

.ooze_far, .ooze_near {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#d1200 em {
  display: block;
  text-align: right;
}

#d3200 .callout {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
  -webkit-transition-duration: 3.4s;
          transition-duration: 3.4s;
}

@media (min-width: 32.46667em) {
  .challenge li, .content li {
    padding-top: 0.66667rem;
  }
}
@media (min-width: 42.53333em) {
  .challenge li, .content li {
    padding-top: 1rem;
  }
}
.creature#creature_orange-roughy1, .creature_humboldt-squid #creature_orange-roughy1.darkening {
  -webkit-filter: url("../img/blue-filter.svg#seafish");
          filter: url("../img/blue-filter.svg#seafish");
}

.shh {
  display: none;
  opacity: 0;
}
