// Breakpoints

$single_col: 50em + 4em; // 50-60 characters are ideal reading length, + 2em on each side for padding
$double_col: 2 * 50em + 4em + 2em;

// Site Colors

// Ocean Blues
$abyss: #000c1c;
$midnight: #002351;
$twilight: #0b4a61;
$epipelagic: #007e84;
$surface: #39dbb4;

// Living Blues
$greyLight: #c6f3c7;
$greyMedium: #436c6f;
$greyDark: #12454b;
$black: #06191b;

// Spot Colors
$biolumination: #56fddb;
$red: #c6244b;
$skyLight: #A9DDF2;
$skyMedium: #4ed9f2;

$base-font-color: color(copy);

$colors: (
    copy: $greyLight,
    altCopy: $greyDark,
    titleCopy: $abyss,
    link: $biolumination,
    link-visited: $skyMedium,
    sky: $skyLight,
);

// Now, getting colors...
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $color.";
  @return null;
}

// Easings
$easings: (
    // in: cubic-bezier(0.55, 0.055, 0.675, 0.19),
    out: cubic-bezier(0.215, 0.61, 0.355, 1),
    inOut: cubic-bezier(0.645, 0.045, 0.355, 1),
    bounceIn: cubic-bezier(0.6, -0.28, 0.735, 0.045),
    bounceOut: cubic-bezier(0.175, 0.885, 0.32, 1.275),
    bounceInOut: cubic-bezier(0.68, -0.55, 0.265, 1.55)
);

@function ease($key) {
  @if map-has-key($easings, $key) {
    @return map-get($easings, $key);
  }

  @warn "Unknown `#{$key}` in $easings.";
  @return null;
}

// Timings
$durations: (
    fast: 200ms,
    timely: 300ms,
    slow: 500ms,
    slower: 800ms,
    slowest: 1.3s,
    days: 2.1s,
    weeks: 3.4s,
    months: 5.5s,
    years: 8.9s,
);

@function duration($key) {
  @if map-has-key($durations, $key) {
    @return map-get($durations, $key);
  }

  @warn "Unknown `#{$key}` in $durations.";
  @return null;
}