/* Props */
$creatures2x-use-percentages: true;
//$creatures2x-spacing: 4px;
$creatures2x-layout: smart;
@import "creatures2x/*.png";
$creatures2x-sprite-width: sprite_width($creatures2x-sprites);
$creatures2x-sprite-height: sprite_height($creatures2x-sprites);

$creatures-use-percentages: true;
//$creatures-spacing: 2px;
$creatures-layout: smart;
@import "creatures/*.png";
$creatures-sprite-width: sprite_width($creatures-sprites);

// Creature basics
.creature {
  @extend %sprited-thing;

  // SVG lights
  .lumi {
    position: absolute;
  }
}

@include non-retina {
  .creature {
    &:before, &:after {
      background-image: sprite-url($creatures-sprites);
    }
  }
}

@include retina {
  .creature {
    &:before, &:after {
      background-image: sprite-url($creatures2x-sprites);
    }
  }
}

// Make a creature
@mixin make-creature($imgName, $secondImgName: none, $lumiX: 0, $lumiY: 0, $lumiW: 0, $lumiH: 0, $keyframes: 2, $biolumi: false, $animation:false, $double: false) {
  $iWidth: image-width(sprite-file($creatures2x-sprites, #{$imgName}));
  width: $iWidth/2;

  &:before {
    background-position: sprite-position($creatures-sprites, #{$imgName}, $offset-x: 0, $offset-y: 0, $use-percentages: true);
    @include set-bg-width($creatures-sprite-width, $creatures-sprites, #{$imgName});
    @include retina {
      @include set-bg-width($creatures2x-sprite-width, $creatures2x-sprites, #{$imgName});
      background-position: sprite-position($creatures2x-sprites, #{$imgName}, $offset-x: 0, $offset-y: 0, $use-percentages: true);
    }
    @if $animation {
      height: $keyframes * 100%;
    } @else {
      height: 100%
    }
  }
  @if $double {
    &:after {
      background-position: sprite-position($creatures-sprites, #{$secondImgName}, $offset-x: 0, $offset-y: 0, $use-percentages: true);
        @include set-bg-width($creatures-sprite-width, $creatures-sprites, #{$secondImgName});
        @include retina {
          @include set-bg-width($creatures2x-sprite-width, $creatures2x-sprites, #{$secondImgName});
          background-position: sprite-position($creatures2x-sprites, #{$secondImgName}, $offset-x: 0, $offset-y: 0, $use-percentages: true);
        }
      content: " ";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @if $animation {
    $iHeight: image-height(sprite-file($creatures2x-sprites, #{$imgName}))/$keyframes;
    height: $iHeight/2;
    @if $biolumi {
      .lumi {
        left: percentage(($lumiX + 4px)/$iWidth);
        top: percentage(($lumiY + 4px)/$iHeight);
        width: percentage(($lumiW * 1px)/$iWidth);
      }
    }
  } @else {
    $iHeight: image-height(sprite-file($creatures2x-sprites, #{$imgName}));
    height: $iHeight/2;
    @if $biolumi {
      .lumi {
        left: percentage(($lumiX + 4px)/$iWidth);
        top: percentage(($lumiY + 4px)/$iHeight);
        width: percentage(($lumiW * 1px)/$iWidth);
      }
    }
  }
}

@mixin set-bg-width($sprites-width, $sprite, $sprite-image) {
    $spriteX: percentage($sprites-width / image-width(sprite-file($sprite, $sprite-image)));
    background-size: $spriteX auto;
}