.creature_flashlight-fish {
    @include make-creature(flashlight-fish, $lumiX: 302, $lumiY: 118, $lumiW: 47, $lumiH: 37, $animation: false, $keyframes: 1, $biolumi: true);
}

#creature_flashlight-fish1 {
    margin: rhythm(3) 0;
    pointer-events: none;
    .lumi { pointer-events: none; }
}

.lost-fish {
    animation: swimmyFlashy duration(weeks) -3s linear infinite paused;
    @include breakpoint($double_col){
        animation-duration: duration(months);
        animation-delay: -3.5s;
        width: calc(200% + 2rem);
        transform: translateX(-50%)
    }
}

@keyframes swimmyFlashy {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

.school_flashlight-fish {
    opacity: 0;
    transition: opacity ease(In) duration(slow);
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    .creature_flashlight-fish {
        position: absolute;
    }
    .completed & {
        opacity: 1;
    }
}

.schooling_flashlight-fish {
    pointer-events: none;
    padding: 0 2em;
    margin: 0 -2em;
    width: 100%;
    height: 100%;
    position: absolute;
    .lumi {
        animation: winking steps(1) paused infinite duration(slow);
        .animated .in-view.completed & {
            animation-play-state: running;
        }
    }
    .creature_flashlight-fish:nth-child(odd) {
        .lumi {
            animation-duration: duration(timely);
        }
    }
    .creature_flashlight-fish:nth-child(3) {
        .lumi {
            animation-delay: duration(fast);
        }
    }
    .creature_flashlight-fish:nth-child(4) {
        .lumi {
            animation-duration: duration(slower);
        }
    }
}

@keyframes winking {
    50% { opacity: 0;}
}

#school_flashlight-fish_bg {
    .creature_flashlight-fish:nth-child(0n+1) { top: 40%; right: 46%; }
    .creature_flashlight-fish:nth-child(0n+2) { top: 20%; left: 5%; }
    .creature_flashlight-fish:nth-child(0n+3) { top: 64%; left: 44%; }
    .creature_flashlight-fish:nth-child(0n+4) { top: 60%; left: 10%; }
    .creature_flashlight-fish:nth-child(0n+5) { top: 30%; left: 25%; }
    .creature_flashlight-fish:nth-child(0n+6) { top: 10%; right: 10%; }
    .creature_flashlight-fish:nth-child(0n+7) { top: 50%; left: 90%; }
    .creature_flashlight-fish:nth-child(odd) {
        transform: scale(0.5);
        &:before{
            filter: $blueFilter  brightness(20%) saturate(20%);
        }
    }
    .creature_flashlight-fish:nth-child(even) {
        transform: scale(0.7);
        &:before{
            filter: $blueFilter  brightness(30%) saturate(30%);
        }
    }
}

#school_flashlight-fish_fg {
    .creature_flashlight-fish:nth-child(0n+1) { top: 68%; left: 41%; }
    .creature_flashlight-fish:nth-child(0n+2) { top: 55%; left: 0%; }
    .creature_flashlight-fish:nth-child(0n+3) { top: 12%; left: 15%; }
    .creature_flashlight-fish:nth-child(0n+4) { top: 20%; right: 24%; }
    .creature_flashlight-fish:nth-child(0n+5) { top: 36%; right: 0%; }
    .creature_flashlight-fish:nth-child(odd) {
        transform: scale(-0.85, .85);
        &:before{
            filter: $blueFilter  brightness(40%) saturate(40%);
        }
    }
    .creature_flashlight-fish:nth-child(even) {
        transform: scale(-0.9, .9);
        &:before{
            filter: $blueFilter  brightness(50%) saturate(50%);
        }
    }
}

#school_flashlight-fish1 {
    animation: flashlight-swim paused linear infinite duration(months);
    .animated .completed.in-view & {
        animation-play-state: running
    }
}

@keyframes flashlight-swim {
    100% { transform: translateX(100%); }
}

#school_flashlight-fish2 {
    animation: flashlight-swim2 paused linear infinite duration(months);
    transform: translate(-100%);
    .animated .completed.in-view & {
        animation-play-state: running
    }
}

@keyframes flashlight-swim2 {
    100% { transform: translateX(0); }
}

#school_flashlight-fish3 {
    animation: flashlight-swim3 paused linear infinite duration(months);
    .animated .completed.in-view & {
        animation-play-state: running
    }
}

@keyframes flashlight-swim3 {
    100% { transform: translateX(-100%); }
}

#school_flashlight-fish4 {
    animation: flashlight-swim4 paused linear infinite duration(months);
    transform: translate(100%);
    .animated .completed.in-view & {
        animation-play-state: running
    }
}

@keyframes flashlight-swim4 {
    100% { transform: translateX(0); }
}

#d400 {
    .schools {
        position:relative;
        height: 400px;
        margin-top: rhythm(6);
    }
}
