.dashOpen {
  @extend %noScroll;
}

.panel {
  &:not(.psa) {
    position: absolute;
    top: 0; left: 0;
  }
  box-sizing: border-box;
  width: 100%;
  max-height: calc(100vh - #{rhythm(35)} + #{rhythm(24)});
  opacity: 0;
  overflow: auto;
  padding: rhythm(12) rhythm(12) rhythm(12) rhythm(6);
  position: relative;
  @extend %clearfix;
  transition: opacity duration(fast) ease(In);
  z-index: 0;
  &.in-focus {
    opacity: 1;
    z-index: 1;
  }
}


#highlight-toggles {
  color: color(link);
  &:hover, &:focus { color: color(linkHover) }
}

.toggle {
  transition:
    transform ease(bounceOut) duration(timely),
    opacity ease(In) duration(timely);
  transform: scale(1.2);
  opacity: 0;
  .loaded & {
    opacity: 1;
    transition-delay: duration(slower), duration(slow);
    transform: scale(1);
  }
  &.highlighted {
    animation: pop duration(timely) ease(In) 2 alternate;
  }
}

@keyframes pop {
  100% { transform: scale(1.2); }
}

.psa {
  background: image-url("svg/arrow-up.svg") no-repeat center top / auto rhythm(24);
  height: calc(100vh - #{rhythm(35)} + #{rhythm(24)});
  text-align: center;
  h3 {
    display: inline-block;
    position: relative;
    margin-bottom: rhythm(3);
    span {
      &:first-child {
        margin-left: -.25rem;
        padding-right: 1rem;
      }
    }
  }
  p, h3 {
    text-indent: 0 !important;
    text-align: left;
  }
  .ff-download {
    display: inline-block;
    margin: rhythm(3) 0 rhythm(9);
  }
  .psa_wrapper {
    background: $abyss;
    .bathypelagic &, .abyssal & {
      background: $epipelagic;
    }
    border: 4px solid #fff;
    opacity: 0;
    transition: opacity duration(slower) duration(slow) ease(Out);
    .loaded & {
      opacity: 1;
    }
    margin: rhythm(3) -(rhythm(3));
    padding: 0 1rem;
    strong { color: #fff;}
  }
  .features {
    p {
      display: flex;
      align-items: center;
    }
    .illo {
      flex: 1;
      margin-right: rhythm(3);
    }
    .text { flex: 4}
    svg {
      width: 100%;
    }
    path, circle {
      fill: rgba($surface, .5);
    }
  }
  @include breakpoint($double_col){
    .for-browsers {
      margin: 0 10%;
      p {padding: rhythm(2) }
    }
    .features {
      display: flex;
      p {
        margin: 0 auto;
        flex: 1;
        text-align: left;
        padding: rhythm(3);
      }
      p:nth-child(1) {
        padding-left: 0;
      }
      p:nth-child(2) {
        padding-right: 0;
      }
    }
  }
}

#dashboard {
  position: relative;
  @include breakpoint($double_col){
    max-width: $maxSegmentWidth;
    margin: 0 auto;
  }
}

.menu {
  .won & {
    background-image: image-url("svg/bg_tentacles.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 135% 0;
    background-size: auto 100%;
  }
  .loaded & {
    transform: translateY(calc(100% - #{rhythm(11)}));
  }
  .animated &.hovered {
    transform: translateY(calc(100% - #{rhythm(12)}));
  }
  .animated &.closeable {
    margin-top: rhythm(1);
  }
  transition:
    background-color ease(In) duration(timely)
  ;
  .animated & {
    transition:
      background-color ease(In) duration(timely),
      transform ease(inOut) duration(slow),
      margin-top ease(inOut) duration(slow)
    ;
  }
  .bathypelagic &, .abyssal & {
    background: $epipelagic;
  }
  .logo {
    height: 35px;
    float: left;
    margin-right: rhythm(2);
  }
  .actions {
    float: right;
  }
  .download {
    display: none;
    border: 2px solid #fff;
    border-radius: .25em;
    color: #fff;
    font-family: $fontFiraSans;
    font-weight: fontWeight(bold);
    text-decoration: none;
    padding: rhythm(1) rhythm(3);
    transition:
      background-color duration(fast) ease(In),
      border-color duration(fast) ease(In);
    @extend %t-small;
    .non-ff & {
      display: inline-block;
    }
    &:hover, &:active, &:focus {
      background-color: $surface;
      border: 2px solid $surface;
    }
  }
}

#menu_options {
  margin: 0;
  padding: rhythm(1) rhythm(12) rhythm(1) rhythm(6);
  text-align: center;
  @extend %clearfix;
  .ff-download {
    position: absolute;
    left: rhythm(6); top: rhythm(1);
    opacity: 0;
    display: none;
    .class-dismissed & {
      transition: opacity ease(In) duration(fast);
      opacity: 1;
      display: block;
    }
  }
}

.controls {
  display: inline-block;
  margin-top: rhythm(2);
  position: relative;
}

#tabs {
  position: absolute;
  right: rhythm(9); top: rhythm(1);
}

.tab, .toggle {
  margin-left: rhythm(1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  @extend %fontSpartan;
  &:hover, &:active, &:focus {
    color: $skyMedium;
  }
}

.toggle:first-child{
  margin-left: 0;
}

.tab {
  letter-spacing: .1em;
  padding: rhythm(1) rhythm(3);
  border-radius: .25em;
  margin-top: rhythm(1);
  display: none;
  opacity: 0;
  transition:
    background duration(fast) ease(Out),
    color duration(fast) ease(Out),
    opacity duration(fast) ease(Out);
  .class-dismissed & {
    opacity: 1;
    display: inline-block;
  }
  &:hover, &:active, &:focus, &.active {
    background: rgba($abyss, .4);
    transition-timing-function: ease(In), ease(In);
  }
  &.active {
    color: $red;
  }
  svg {
    width: rhythm(4); height: rhythm(4);
  }
  @include breakpoint(max-width calc-em(1012)){
    span {display: none;}
  }
}

.share_tab path {
  stroke: currentColor;
  stroke-width:2;
  fill: none;
}

.crew_tab path {
  fill: currentColor;
}

.toggle {
  &.activated {
    color: $skyMedium;
  }
}

.certificate_tab {
  color: $gold;
  path { fill: currentColor; }
}

.toggle_bg {
  &:before, &:after {
    font-size: 10px;
    display: block;
    letter-spacing: 0;
    position: absolute;
    top: -3px;
    .animated & {
      transition: opacity duration(fast) ease(In);
    }
  }

  &:before {
    content: "off";
    left: 26px;
  }
  &:after {
    content: "on";
    left: 8px;
    opacity: 0;
  }
  position: relative;
  width: 53px; height: 24px;
  path, circle {
    fill: rgba($abyss, .4);
    stroke: currentColor;
    stroke-width:2;
  }
  .activated & {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
}
.toggle_button {
  width: 24px; height: 24px;
  position: absolute; top: 0; left: 0;
  svg {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .activated & {
    transform: translateX(120%);
  }
  .animated & {
    transition: transform duration(timely) ease(In);
  }
  .nob circle {
    stroke: $skyLight;
  }
  .icon {
    path, circle {
      fill: $skyLight;
      stroke: none;
    }
  }
}

.ending {
  @include breakpoint($double_col){
    .accolades, .rewards {
      float: left;
      width: calc(50% - 1em);
    }
    .rewards {
      float: right;
    }
  }
}

.rewards {
  text-align: center;
  @include breakpoint($double_col){
    padding-top: rhythm(9);
  }
  a {
    display: inline-block;
    @extend %clearfix;
    @extend %fontSpartan;
    path {fill: currentColor;}
    padding: rhythm(3);
    border-radius: rhythm(1);
    text-align: left;
    transition:
      transform duration(timely) ease(In),
      background duration(fast) ease(In),
      color duration(fast) ease(In);
    width: rhythm(39);
    margin: 0 rhythm(3) rhythm(3);
    svg {
      width: rhythm(9);
      float: left;
    }
    span {
      width: rhythm(27);
      float: right;
    }
    &:link, &:visited {
      background: $biolumination;
      color: $epipelagic;
    }
    &:hover, &:active, &:focus {
      background: $skyMedium;
      color: $abyss;
      transform: translate(1px, 1px);
    }
  }
}

.join-the-deep {
  display: none;
  a { display: inline-block;}
  .non-ff & {
    display: block;
  }
  .ff-download {
    display:inline-block;
  }
  .download {
    margin-top: rhythm(3);
    transform: translateY(-(rhythm(3)));
  }
  text-align: center;
  margin: rhythm(3) 0;
}

.crew li, .crew ul {
  padding: 0; margin: 0;
  list-style: none ;
}

.crew ul {
  text-align: center;
}

.sound-off {
  li {
    display:inline-block;
    width: 120px;
    margin: rhythm(3) rhythm(6);
    vertical-align:top;
  }
  .name {
    margin: rhythm(6) 0 rhythm(1);
    @extend %fontSpartan;
  }
}


.crew {
  h3 { @include margin-trailer(3); }
  a { text-decoration: none;}
  .porthole {
    position: relative;
    display: block;
    img, .captain-rachel { border-radius: 100%; }
    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: -10%; left: -10%;
      width: 120%; height: 120%;
      background: image-url("svg/porthole.svg") 0 0 / 100% 100%;
    }
    &.captains-porthole:before {
      background: image-url("svg/porthole_captains.svg") 0 0 / 100% 100%;
      height: 128%;
    }
  }
  .captain-rachel {
    @include make-creature(captain-rachel, $animation: true, $divAnim: true, $keyframes: 2);
    overflow: hidden;
    position: relative;
    z-index: -1;
    div {
      animation: comandeering-this-vessel steps(1) duration(fast) forwards paused;
    }
    @include non-retina {
      div {
        background-image: sprite-url($creatures-sprites);
      }
    }
    @include retina {
      div {
        background-image: sprite-url($creatures2x-sprites);
      }
    }
  }
  .nautical, .irl {
    transition: opacity duration(fast) ease(In);
  }
  .irl {
    position: relative;
    opacity: 0;
  }
  .nautical {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
  }
  li:hover {
    .irl {
      opacity: 1;
      z-index: 1;
    }
    .nautical { opacity: 0;}
  }
  .name {
    margin: rhythm(6) 0 rhythm(1);
    @extend %fontSpartan;
  }
  strong {
    @extend %fontMerriweatherItalic;
  }
  .title {
    position: relative;
    @extend %fontMerriweatherItalic;
    @extend %t-small;
  }
}

.thanks {
  @include padding-trailer(6);
  h4 {
    @extend %fontMerriweatherItalic;
    @extend %t-large;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 rhythm(3);
  }
  .title { text-align: left;}
}

#dismiss-onboarding {
  cursor: pointer;
  display: block;
  @extend %fontSpartan;
  padding: rhythm(3);
  border-radius: rhythm(1);
  opacity: 0;
  transition:
    transform duration(timely) ease(In),
    background duration(fast) ease(In),
    color duration(fast) ease(In),
    opacity duration(fast) ease(Out) duration(slowest);
  width: rhythm(39);
  margin: -(rhythm(9)) auto rhythm(3);
  background: $biolumination;
  color: $epipelagic;
  display: inline-block;
  &:hover, &:active, &:focus {
    background: $skyMedium;
    color: $abyss;
    transform: translate(1px, 1px);
  }
  .loaded &{
    opacity: 1;
  }
}

.for-browsers {
  text-align: center;
  display: none;
  .non-ff & {
    display: block;
  }
}

@keyframes comandeering-this-vessel {
  100% { transform: translateY(-50%)}
}