.panel {
  &:not(.crew) {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
  }
  max-height: calc(100vh - #{rhythm(11)});
  opacity: 0;
  overflow: auto;
  transition: opacity duration(fast) ease(In);
  z-index: 0;
  &.in-focus {
    opacity: 1;
    z-index: 1;
  }
}

#dashboard {
  position: relative;
}

.crew { height: 600px;}

#menu_options {
  margin: 0; padding: rhythm(1) 0;
}

.menu {
  background: $abyss;
  box-sizing: border-box;
  @extend %fontMerriweather;
  @extend %t-medium;
  color: color(copy);
  max-height: 100vh;
  position: fixed;
  bottom: 0; left: 0;
  right: 0;
  padding: 0 rhythm(3);
  transition:
    background ease(In) duration(timely),
    transform ease(inOut) duration(slow)
  ;
  transform: translateY(calc(100% - #{rhythm(11)}));
  z-index: 30;
  .bathypelagic &, .abyssal & {
    background: $epipelagic;
  }
  .ff-download {
    margin-top: rhythm(1);
    float: left;
  }
  .logo {
    height: 35px;
    float: left;
    margin-right: rhythm(2);
  }
  .actions {
    float: right;
  }
  .download {
    display: none;
    border: 2px solid #fff;
    border-radius: .25em;
    color: #fff;
    font-family: $fontFiraSans;
    font-weight: fontWeight(bold);
    text-decoration: none;
    padding: rhythm(1) rhythm(3);
    transition:
      background-color duration(fast) ease(In),
      border-color duration(fast) ease(In);
    @extend %t-small;
    .non-ff & {
      display: inline-block;
    }
    &:hover {
      background-color: $epipelagic;
      border: 2px solid $epipelagic;
    }
  }
}

#menu_options {
  text-align: center;
  @extend %clearfix;
}

.controls {
  display: inline-block;
  margin-top: rhythm(2);
}

#tabs {
  float: right;
}

.tab, .toggle {
  margin-right: rhythm(1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  @extend %fontSpartan;
  &:hover, &:active, &:focus, &.active {
    color: $skyMedium;
  }
}

.tab {
  letter-spacing: .1em;
  padding: rhythm(1) rhythm(3);
  border-radius: .25em;
  margin-top: rhythm(1);
  transition:
    background duration(fast) ease(Out),
    color duration(fast) ease(Out);
  &:hover, &:active, &:focus, &.active {
    background: rgba($abyss, .4);
    transition-timing-function: ease(In), ease(In);
  }
  svg {
    width: rhythm(4); height: rhythm(4);
  }
}

#share_tab path {
  stroke: currentColor;
  stroke-width:2;
  fill: none;
}

#crew_tab path {
  fill: currentColor;
}


.toggle, {
  &.activated {
    color: $skyMedium;
  }
}

.toggle_bg {
  &:before, &:after {
    font-size: 10px;
    display: block;
    letter-spacing: 0;
    position: absolute;
    top: -3px;
    .animated & {
      transition: opacity duration(fast) ease(In);
    }
  }

  &:before {
    content: "off";
    left: 26px;
  }
  &:after {
    content: "on";
    left: 8px;
    opacity: 0;
  }
  position: relative;
  width: 53px; height: 24px;
  path, circle {
    fill: rgba($abyss, .4);
    stroke: currentColor;
    stroke-width:2;
  }
  .activated & {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
}
.toggle_button {
  width: 24px; height: 24px;
  position: absolute; top: 0; left: 0;
  svg {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .activated & {
    transform: translateX(120%);
  }
  .animated & {
    transition: transform duration(timely) ease(In);
  }
  .nob circle {
    stroke: $skyLight;
  }
  .icon {
    path, circle {
      fill: $skyLight;
      stroke: none;
    }
  }
}