@include breakpoint($double_col){
    .right {
        .puzzle {
            float: right;
            width: 219.5px;
        }
        .challenge_wrapper {
            float: left;
            width: calc(100% - 2em - 219.5px);
        }
    }
}

#d600 .puzzle {
    height: 100vh;
}

.creature_nautilus {
    @include make-creature(nautilus, $animation: true, $keyframes: 2);
}

#creature_nautilus1 {
    animation: nautyBounce linear duration(weeks) infinite alternate;
    &:before {
        animation: nautyRaspberry steps(1) duration(days) infinite;
    }
}

@keyframes nautyRaspberry {
    25% { transform: translateY(-50%)}
    35% { transform: translateY(0)}
    45% { transform: translateY(-50%)}
}

@keyframes nautyBounce {
    100% {
        transform: translateY(50vh);
    }
}