@include breakpoint($double_col){
    // #d600.in-view .puzzle {
    //     position: fixed;
    //     top: 0; right: 50%;
    // }
    #d600 {
        .content, .challenge {
            -moz-column-gap: calc(219.5px + 4rem);
            column-gap: calc(219.5px + 4rem);
        }
        .puzzle {
            position: absolute;
            top: 0; right: 50%;
            transform: translateX(40%);
            width: 219.5px;
            z-index: 1;
        }
        // .challenge_wrapper {
        //     float: left;
        //     width: calc(100% - 2em - 219.5px);
        // }
    }
}

#d600 .puzzle {
    height: 100vh;
}

.creature_nautilus {
    @include make-creature(nautilus, $animation: true, $keyframes: 2);
}

#creature_nautilus1 {
    animation: nautyBounce duration(weeks) infinite alternate;
    &:before {
        animation: nautyRaspberry steps(1) duration(days) infinite;
    }
}

#creature_nautilus1 {
    animation-timing-function: linear;
}

@keyframes nautyRaspberry {
    25% { transform: translateY(-50%)}
    35% { transform: translateY(0)}
    45% { transform: translateY(-50%)}
}

@keyframes nautyBounce {
    100% {
        transform: translateY(50vh);
    }
}