#d1600 {
    .puzzle {
        break-after: always;
        @include padding-trailer(5);
        position: relative;
        height: 275px;
    }
    .keeptogether {
        display: inline-block;
        width: 100%;
    }
}

@include breakpoint($double_col){
    #d1600 .content {
        column-count: unset;
        padding-right: calc(50% + 2rem)
    }
}

@include breakpoint(max-width 1116px){
    #d1600 {
        .content, .challenge {
            column-count: unset;
        }
        .content { padding-right: 0;}
    }
}
.creature_orange-roughy {
    @include make-creature(orange-roughy, $animation: true, $keyframes: 2);
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
}

#creature_orange-roughy1 {
    animation: gentlyHovering ease(inOut) duration(months) infinite alternate;
    &:before {
        animation: roughSwimming steps(1) duration(months) alternate-reverse infinite;
    }
}

@keyframes gentlyHovering {
    100% { transform: translate(-50%, 15%)}
}

@keyframes roughSwimming {
    50% { transform: translateY(-50%, -50%)}
}

.orange-roughy-revelation {
    opacity: 0 !important;
}