#d1600 {
    .puzzle {
        break-after: always;
        @include padding-trailer(5);
        position: relative;
        height: 275px;
    }
    .keep-together {
        display: inline-block;
    }
}

@include breakpoint($double_col){
    #d1600 .bonus .content {
        column-count: unset;
        padding-left: calc(50% + 2rem)
    }
}

@include breakpoint(max-width 1116px){
    #d1600 {
        .content, .challenge {
            column-count: unset;
        }
        .bonus .content {
            margin-top: 314px;
            padding-left: 0;
        }
    }
}
.creature_orange-roughy {
    @include make-creature(orange-roughy, $animation: true, $keyframes: 2);
    .in-view & {
        animation: gentlyHovering ease(inOut) duration(months) infinite alternate;
        &:before {
            animation: roughSwimming steps(1) duration(months) alternate-reverse infinite;
        }
    }
}

@keyframes gentlyHovering {
    100% { transform: translateY(15%)}
}

@keyframes roughSwimming {
    50% { transform: translateY(-50%)}
}

.orange-roughy-revelation {
    opacity: 0 !important;
}
