.progress {
  @extend %fontMerriweatherItalic;
  @extend %t-small;
  width: 2rem;
  position: fixed;
  right: .5rem; top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  ul, li {
    list-style: none;
    margin: 0; padding: 0;
    text-indent: 0;
  }
  .visited {
    display: block;
    opacity: 1;
  }
  .completed svg {
    fill: $epipelagic;
    color: $midnight;
  }
  .in-view svg {
    fill: #fff;
    color: $twilight;
  }
  svg {
    color: $abyss;
    display: block;
    max-height: 5vh;
    width: 2rem;
    position: relative;
    z-index: 2;
    fill: color(link);
    transition:
      fill ease(In) duration(timely),
      color ease(In) duration(timely)
    ;
  }
  a {
    display: block;
    paddng: .25rem;
  }
  li {
    &:not(:first-child) {
      background: url("../img/icons/progress-dots.svg") no-repeat top center;
      background-size: 5vh auto;
      padding-top: 5vh;
      span {
        top: calc(5vh - .6667em );
      }
    }
    display: none;
    opacity: 0;
    transition: opacity ease(Out) duration(weeks);
    position: relative;
    span {
      background: rgba($twilight, .8);
      border-radius: .5rem;
      position: absolute;
      top: 0; left: -1rem;
      padding-right: .5rem;
      opacity: 0;
      transition:
        opacity ease(bounceInOut) duration(fast) duration(fast),
        transform ease(bounceInOut) duration(slow) duration(fast);
      width: 15rem;
      padding: rhythm(2);
      z-index: 1;
      &:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-left-color: rgba($twilight, .8);
        border-width: .5rem;
        margin-top: -.5rem;
      }
    }
    a:hover span {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
}

.addthis_sharing_toolbox {
  display: inline-block;
  margin: 0 auto;
}

#challenge_orange-roughy svg { color: $red; }
#challenge_orange-roughy.completed svg { color: currentColor; }