/* Heading stuff. */

.sub {
  max-width: calc(100% + #{rhythm(9)});
  margin: rhythm(6) (rhythm(9) * -1);
}

#surface {
  background: color(sky);
  color: color(altCopy);
  position: relative;
  z-index: 20;
}

h1, .subtitle {
  @extend %t-medium;
  @extend %fontMerriweather;
  @include padding-trailer(3);
}

.subtitle em {
  @extend %t-large;
  color: $twilight;
}

#title {
  box-sizing: border-box;
  padding-bottom: 190px;
  min-height: 100vh;
  a {
    &:link { color: color(linkAlt) }
    &:visited { color: color(linkAltVisited) }
    &:hover, &:active, &:focus { color: color(linkAltHover) }
  }

}

.title-card_wrapper {
  @extend %t-medium;
}

#for-browsers {
  display: none;

  p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-style: normal;
  }

  .content {
    img, a {
      display: inline-block;
    }

    img {
      border-radius: 0;
      height: 70px;
    }

    a {
      background-color: $ffGreen;
      color: #fff;
      font-style: normal;
      text-decoration: none;
      border-radius: 3px;
      text-align: center;
      margin: auto 0;
      font-weight: bold;
      font-family: $fontFiraSans;
    }
  }
}

.non-ff #for-browsers {
  display: block;
}

.waves {
  background: $surface;
  height: 120px;
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  padding-bottom: 60px;
}

.wave {
  position: absolute;
  left: 0; bottom: 60px;
  width: 100%;
  height: 130px;
  .animated .in-zone & {
    animation-name: oceanSurge;
    animation-timing-function: ease(inOut);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &:before {
    content: " ";
    transform: scale(1.1) translateX(-20px);
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    padding: 0 40px;
    height: 120px;
    .animated .in-zone & {
      animation-name: oceanMotion;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

.wave-close {
  animation-duration: duration(weeks);
  &:before {
    background: url("../img/wave-close.svg") repeat-x 100% 100%;
    animation-duration: duration(days);
  }
}

.wave-near {
  animation-duration: duration(months);
  &:before {
    background: url("../img/wave-near.svg") repeat-x 100% 100%;
    animation-duration: duration(weeks);
    transform: translateY(-10px);
  }
}

.wave-mid {
  background: $midnight;
  height: 130px;
  &:before {
    background: url("../img/wave-mid.svg") repeat-x 0 10px;
    background-size: 305px 120px;
    animation-duration: duration(months);
  }
}

@keyframes oceanMotion {
  100% { transform: scale(1.1) translateX(30px); }
}

@keyframes oceanSurge {
  100% { transform: translateY(10px); }
}

@include breakpoint($double_col) {
  // .title-card_wrapper {
  //   @extend %clearfix;
  // }
  h1 img {
    margin: 0;
    //max-width: 100%;
    // height: rhythm(36);
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 30vh;
  }
  h1 {
    padding-bottom: 4vh;
  }
  h1, .subtitle {
    width: calc(50% - 2rem);
    float: left;
  }
  .title-card_wrapper {
    // padding-right: calc(50% + 2rem);
    padding-top: 5vh;
  }
  .subtitle {
    margin-bottom: rhythm(6);
  }

  .sub {
    max-width: auto;
    margin: -(rhythm(3)) 0 rhythm(9);
    //height: 50vh;
    // position: absolute;
    // right: rhythm(6); top: 122px;
    max-height: 80vh;
    float: right;
    width: calc(50%);
  }

}
