/* Heading stuff. */

.sub {
  max-width: calc(100% + #{rhythm(9)});
  margin: rhythm(6) (rhythm(9) * -1);
}

h1, .subtitle {
  @extend %t-medium;
  @extend %fontMerriweather;
  @include padding-trailer(3);
}

.subtitle em {
  @extend %t-large;
  color: $twilight;
}

.subtitle {
  margin-bottom: rhythm(15);
}

#title {
  box-sizing: border-box;
  padding-bottom: 190px;
  min-height: 100vh;
  a {
    &:link { color: color(linkAlt) }
    &:visited { color: color(linkAltVisited) }
    &:hover, &:active, &:focus { color: color(linkAltHover) }
  }

}

.title-card_wrapper {
  @extend %t-medium;
}

.for-browsers {
  @extend %t-small;
  @extend %fontMerriweatherItalic;
  opacity: .8;
  margin-bottom: rhythm(15);
  display: none;
  .non-ff & {
    display: block;
  }
}

.get-a-move-on {
  opacity: 0;
  height: rhythm(15);
  position: absolute;
  transform: translate(-50%, 28%);
  left: 50%; bottom: 190px;
  z-index: 1;
  transition: opacity ease(Out) duration(timely);
  transition-delay: duration(months);
  .loaded & {
    // opacity: 1;
  }
  .loaded.animated & {
    animation: letsGo infinite alternate duration(slow) ease(bounceOut);
  }
}

@keyframes letsGo {
  100% { transform: translate(-50%, 25%); }
}

// .for-browsers {
//   p { margin: 0;}
//   background: rgba($midnight, .5);
//   color: $skyLight;
//   border-radius: rhythm(1);
//   padding: rhythm(3);
//   margin-left: -(rhythm(3));
//   display: none;
//   margin-bottom: rhythm(6);
//   @extend %clearfix;
//   .non-ff & {
//     display: block;
//   }
//   picture {
//     display: block;
//     margin: 0 auto rhythm(3);
//     text-align: center;
//     img {
//       height: 46px;
//     }
//   }
//   .download {
//     @extend %fontMerriweatherItalic;
//     display: block;
//     background: $surface;
//     color: $epipelagic;
//     border-radius: rhythm(1);
//     text-decoration: none;
//     text-align: center;
//     padding: .33em 1em;
//     transition:
//       transform duration(fast) ease(Out),
//       background duration(fast) ease(Out),
//       color duration(fast) ease(Out);
//     &:hover, &:active, &:focus {
//       //transform: translate(2px, 2px);
//       background: $skyLight;
//       color: $abyss !important;
//     }
//   }
// }



@include breakpoint($double_col) {
  h1 img {
    margin: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 30vh;
  }
  h1 {
    padding-bottom: 4vh;
  }
  h1, .title-wrapper {
    width: calc(50% - 2rem);
    float: left;
  }
  // .for-browsers {
  //   .ff-download {
  //     text-align: center;
  //   }
  //   picture, .download {
  //     display: inline-block;
  //     margin: rhythm(3);
  //   }
  //   .download {
  //     position: relative;
  //     top: -1em; left: 0;
  //   }
  // }
  .title-card_wrapper {
    padding-top: 5vh;
  }
  .subtitle {
    .non-ff & { margin-bottom: 0;}
  }

  .sub {
    max-width: auto;
    margin: -(rhythm(3)) 0 rhythm(9);
    max-height: 80vh;
    float: right;
    width: calc(50%);
  }

}
