#d5000 .puzzle {
    width: 300px;
    height: 270px;
    margin: 0 auto;
    position: relative;
}

.creature_vomiting-shrimp {
    @include make-creature(vomiting-shrimp, $animation: true, $keyframes: 2);
}

#creature_vomiting-shrimp1 {
    position: absolute;
    top: 40%; left: 25%;
    transition:
        transform ease(Out) duration(slow) duration(fast),
        opacity ease(Out) duration(slow) duration(fast);
    .in-view & {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    &:before {
        transition: steps(1) duration(timely) 1;
        .in-view & {
            transform: translateY(-50%);
        }
    }
}

.luminous-spew {
    pointer-events: none;
    @include make-object(spew, $animation: true, $keyframes: 4);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    &:before {
        background-size: 100% 100%;
        pointer-events: none;
        transition: steps(3, end) duration(slow);
        .in-view & {
            transform: translateY(-75%);
            animation:
                incriminatingPuke ease(inOut) duration(days) duration(slowest) infinite alternate;
        }
    }
}

@keyframes incriminatingPuke {
    100% { opacity: .8; }
}
