@import "breakpoint";
@import "config";
@import "typography";

/* Loading Screen */
.loading {
  body, html {
    @extend %noScroll;
    position : fixed
  }
}

.boat {
  background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 92"><style>path {fill:#002351;}</style><path d="M67.6 59.8h15.7l9.2-22.1-9.2-21.1H33.1v23L57.3 46v31.7H0L1 46l25.2-6.9V9.2l64.4-.5 26.2 51.6h13.4L204.7 0H264l18.4 22.1h16.1v14.7L500 14l-78.7 78H83.7z"/></svg>') no-repeat;
  width: 12.5%;
  position: absolute; left: 0; bottom: 189px;
  animation: boating infinite cubic-bezier(0.39, 0.575, 0.565, 1) duration(eons);
  .class-dismissed & {
    animation: none;
    display: none;
  }
  &:before {
    content: " ";
    display: block;
    padding-top: 18.4%;
  }
}

.menu {
  background: $abyss;
  box-sizing: border-box;
  @extend %fontMerriweather;
  @extend %t-medium;
  color: color(copy);
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  bottom: 0; left: 0;
  right: 0;
  z-index: 30;
  transform: translateY(100%);
}

#surface {
  background: color(sky);
  color: color(altCopy);
  position: relative;
  z-index: 20;
}

@keyframes boating {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(800%);}
}

.segment {
  min-height: $heightScreen;
  padding: rhythm(12) rhythm(12) rhythm(12) rhythm(6);
  position: relative;
  @extend %content-hidden;
}

.waves_wrapper {
  background: linear-gradient(to bottom, $surface 0%, transparent 100%);
  height: 120px;
  position: absolute;
  left: 0; bottom: -180px;
  width: 100%;
  padding-bottom: 60px;
}

.waves {
  background: $surface;
  height: 120px;
  position: absolute;
  left: 0; top: -120px;
  width: 100%;
}

.wave {
  position: absolute;
  left: 0; bottom: 60px;
  width: 100%;
  height: 130px;
  .animated .in-zone & {
    animation-name: oceanSurge;
    animation-timing-function: ease(inOut);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &:before {
    content: " ";
    transform: scale(1.1) translateX(-20px);
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    padding: 0 40px;
    height: 120px;
    .animated .in-zone & {
      animation-name: oceanMotion;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

.wave-close {
  animation-duration: duration(weeks);
  &:before {
    background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-143 132 672 120"><style>.st0{fill:#39DBB4;}</style><path class="st0" d="M193 183.5c-137 .4-129 44.9-336 45.2V252h672v-23.3c-207-.3-199-44.8-336-45.2z"/></svg>') repeat-x 100% 100%;
    animation-duration: duration(days);
  }
}

.wave-near {
  animation-duration: duration(months);
  &:before {
    background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-278 121 403 120"><style>.st0{fill:#007E84;}</style><path class="st0" d="M-80.1 146c-82.2.2-73.8 20.6-197.9 20.7V241h403v-74.3C.9 166.6 2.1 146.2-80.1 146z"/></svg>') repeat-x 100% 100%;
    animation-duration: duration(weeks);
    transform: translateY(-10px);
  }
}

.wave-mid {
  background: $midnight;
  height: 130px;
  &:before {
    background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-143 -34 305 120"><path style="fill:#0B4A61" d="M9.5-34C-52.7-33.8-49-20.1-143-20V86h305V-20C68-20.1 71.7-33.8 9.5-34z"/></svg>') repeat-x 0 10px;
    background-size: 305px 120px;
    animation-duration: duration(months);
  }
}

@keyframes oceanMotion {
  100% { transform: scale(1.1) translateX(30px); }
}

@keyframes oceanSurge {
  100% { transform: translateY(10px); }
}