@import "breakpoint";
@import "config";
@import "typography";

@include establish-baseline;
@font-face {
    font-family: 'leagueSpartanRegular';
    src: url('../fonts/leaguespartan-bold-webfont.eot');
    src: url('../fonts/leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold-webfont.woff') format('woff'),
         url('../fonts/leaguespartan-bold-webfont.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold-webfont.svg#league_spartanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, p, ul {
  margin: 0; padding: 0;
}

.wrapper {
  overflow: hidden;
}

a {
  &:link { color: color(link) }
  &:visited { color: color(linkVisited) }
  &:hover, &:active, &:focus { color: color(linkHover) }
}

@import "title-card";

/* UI */
@import "menu";
@import "progress-bar";

.addthis_sharing_toolbox {
  display: inline-block;
  margin: 0 auto;
}

.segment {
  // min-height: $heightScreen;
  // padding: rhythm(12) rhythm(12) rhythm(12) rhythm(6);
  // position: relative;
  @extend %clearfix;
  @include breakpoint($double_col){
    max-width: $maxSegmentWidth;
    margin: 0 auto;
  }
  @extend %t-medium;
  // everything starts paused and transparent...
  * {
    animation-play-state: paused;
  }
  // ...until you scroll them into view
  &.in-view {
    @extend %content-revealed;
    * {
      animation-play-state: running;
    }
  }
}

h3 + .content {
  padding-top: 0;
}

.challenge_wrapper > h3 {
  padding-top: rhythm(3);
}

.bonus {
  opacity: 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  padding: rhythm(3) 0;
  .completed & {
    opacity: 1;
  }
}

.content, .challenge, .panel {
  @include breakpoint($medium){
    p {
      padding-bottom: 0;
      &:not(:first-of-type) {
        text-indent: 4em;
      }
    }
  }
}

.content, .challenge {
  @include breakpoint($double_col){
    column-count: 2;
    column-gap: 2rem;
    ul, ol {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

.video {
  display: block;
  margin: 0 auto;
  padding-top:rhythm(3);
  max-width: 100%;
  height: auto;
}

.challenge_wrapper {
  position:relative;
  z-index: 1;
}

.challenge {
  @extend %content-hidden;
  .in-view & {
    @extend %content-revealed;
  }
  // position: absolute;
  // top: 0; left: -1em; width: 100%;
  transition-property: opacity, background;
  // Appearance
  // background: $twilight;
  padding: rhythm(3) 1em;
  position: relative;
  z-index: 1;
  margin: 0 -1em;
  .rediscover {
    position: absolute;
    top: rhythm(1); right: rhythm(1);
    @extend %t-small;
  }

  .completed & {
    pointer-events: none;
    // background: transparent;
    h3, p, ol, video {
      @extend %content-hidden;
    }
    z-index: 0;
  }

  ol, li {
    margin: 0; padding: 0;
  }
  ol {
    @include padding-trailer(3);
  }
  li {
    @extend %fontSpartan;
    @include padding-leader();
    margin-left: rhythm(5);
    padding-left: rhythm();
  }
  li p {
    @extend %fontMerriweather;
    &:first-child {
      padding: 0;
    }
  }
}

.rediscover {
  @extend %fontMerriweatherItalic;
  color: color(link);
  cursor: pointer;
  text-decoration: underline;
}

.bonus {
  // unsolved/default
  // unsolved
  @extend %content-hidden;

  // solved/shown
  .solved & {
    @extend %content-revealed;
  }
}

h1, h2, h3 {
  @extend %fontSpartan;
}

h2 {
  @extend %t-xlarge;
  @include padding-trailer(6);
}

h3 {
  @extend %t-large;
}

.featured {
  @extend %fontSpartan;
}

em {
  @extend %fontMerriweatherItalic;
}

.red {
  @extend %fontMerriweatherItalic;
  color: $red;
}

.orange {
  @extend %fontMerriweatherItalic;
  color: #ff9100;
}

.biolumiColor {
  @extend %fontMerriweatherItalic;
  color: $biolumination;
}

strong {
  @extend %fontSpartan;
}

p {
  @extend %fontMerriweather;
  @include padding-trailer(3);
}

.callout {
  @extend %t-large;
  @extend %fontMerriweatherItalic;
  @include padding-leader();
  @include padding-trailer();
  text-align: center;
  transition-duration: duration(slowest);
}

.followup {
  @extend %t-medium;
  @extend %fontMerriweather;
  @include padding-leader();
  @include padding-trailer();
  text-align: center;
  transition-delay: duration(slow);
}

.standalone {
  max-width: 50em;
  margin: 0 auto;
  p {
    @extend %t-medium;
    @include padding-trailer(6);
  }
}

blockquote {
  &:first-child {
      padding: 0;
      margin: 0;
  }
  page-break-inside: avoid;
  break-inside: avoid;
  opacity: .7;
  @extend %t-large;
  @extend %fontMerriweatherItalic;
  @include padding-leader();
  @include padding-trailer();
}
cite {
  @extend %t-medium;
  @extend %fontMerriweatherItalic;
  font-style: normal;
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
  text-align: right;
  &:before {content: "\2014"; }
}

/* Footer */
footer {
  background: linear-gradient(to bottom, $greyLight 0%, darken($greyLight, 10%) 100%);
  color: $greyMedium;
  @include padding-trailer(15);
  text-align: center;
}

small {
  @extend %fontMerriweatherItalic;
  @extend %t-small;
}

.version {
  display: block;
  @extend %t-medium;
}

.wordmark {
  display: block;
  margin: 0 auto;
  height: rhythm(9);
  padding: rhythm(1)
}

/* Zones */
#epipelagic {
  background: linear-gradient(to bottom, $surface 0%, #007e84 50%, #0b4960 100%);
  color: color(altCopy);
  padding-top: calc(180px + #{rhythm(6)});
}
#mesopelagic {
  background: linear-gradient(to bottom, #0b4960 0%, #0b4960 33%, #002351 67%, $abyss 100%);
  color: color(copy);
}
#bathypelagic {
  background: $abyss;
  // background: linear-gradient(to bottom, #0b4960 0%, #002351 100%);
  color: color(copy);
}
#abyssal {
  background: $abyss;
  // background: linear-gradient(to bottom, #002351 0%, $abyss 100%);
  color: color(copy);
}

/* Challenges */
@import "creature-shop";
@import "object-shop";
@import "flashlight-fish";
@import "nautilus";
@import "humboldt-squid";
@import "orange-roughy";
@import "disco";
// There was this really cool jellyfish we wanted to share, but....
// https://bugzilla.mozilla.org/show_bug.cgi?id=978833
// If you can help fix that bug, the jellyfish might make a glorious comeback ;)
// @import "alarm-jellyfish";
@import "vomiting-shrimp";
@import "hagfish";



#d1200 em {
  @extend %t-large;
  display: block;
  text-align: right;
}

#d3200 .callout {
  transition-delay: duration(days);
  transition-duration: duration(weeks);
}

@include breakpoint(calc-em(487)){
  .challenge, .content {
    li {
      @include padding-leader(2);
    }
  }
}

@include breakpoint(calc-em(638)){
  .challenge, .content {
    li {
      @include padding-leader(3);
    }
  }
}

.creature#creature_orange-roughy1 {
  filter: $blueFilter;
}

.shh {
  display: none;
  opacity: 0;
}