@import "breakpoint";
@import "config";
@import "typography";

$heightScreen: 100vh; // 100vh = height of screen = 200 meters of ocean

.wrapper {
  overflow: hidden;
}

.segment {
  min-height: $heightScreen;
  position: relative;
  padding: 0 2em;
  @include breakpoint($single_col){
    max-width: 102rem;
    margin: 0 auto;
  }
  @extend %t-medium;
  h1, h2, h3, p {
    opacity: 0;
    transition: opacity duration(slow) easing(out);
  }
  * {
    animation-play-state: paused;
  }
  &.in-view {
    h1, h2, h3, p {
      opacity: 1;
    }
    * {
      animation-play-state: running;
    }
  }
}

body, h1, h2, h3, p {
  margin: 0; padding: 0;
}

h1, h2, h3 {
  @extend %fontSpartan;
  @include padding-leader();
}

h1 {
  @extend %t-xxlarge;
  color: color(titleCopy);
}

h2 {
  @extend %t-xlarge;
}

h3 {
  @extend %t-large;
}

.subtitle {
  @extend %fontMerriweatherItalic;
  h2 + & {
    @extend %t-large;
    opacity: .8;
  }
}

em {
  @extend %fontMerriweatherItalic;
}

p {
  @extend %fontMerriweather;
  @include padding-trailer();
}

@include breakpoint($single_col){
  .facts, .reveal {
    -moz-column-count: 2;
    -moz-column-gap: 2rem;
    column-count: 2;
    column-gap: 2rem;
    //break-inside: avoid;
  }
}

blockquote {
  &:first-child {
      padding: 0;
  }
  opacity: .7;
  @extend %t-large;
  @extend %fontMerriweatherItalic;
  @include padding-leader();
  @include padding-trailer();
  margin: rhythm(6);
  // &:before {
  //     content: "\201C";
  //     @extend %fontSpartan;
  //     position: absolute;
  //     left: -.35em;
  //     font-size: 3em;
  //     opacity: .4;
  //     top: .5em;
  // }
}
cite {
  @extend %t-large;
  font-style: normal;
  display: block;
  margin: 0 rhythm(6);
  text-align: right;
  &:before {content: "\2014"; }
}

img {
  filter: url("../img/blue-filter.svg#seafish") grayscale(100%) brightness(20%);
}

#surface {
  background: color(sky);
  color: color(altCopy);
  text-align: center;
  position: relative;
}

.waves {
  background: $surface;
  height: 110px;
  padding-bottom: 2em;
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
}

.wave {
  position: absolute;
  left: 0; bottom: 2em;
  width: 100%;
  height: 120px;
  .in-view & {
    animation-name: oceanSurge;
    animation-timing-function: ease(inOut);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &:before {
    content: " ";
    transform: scale(1.1) translateX(-20px);
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    padding: 0 40px;
    height: 120px;
    .in-view & {
      animation-name: oceanMotion;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

.wave-close {
  bottom: 1.9em;
  animation-duration: duration(weeks);
  &:before {
    background: url("../img/wave-close.svg") repeat-x 100% 100%;
    animation-duration: duration(days);
  }
}

.wave-near {
  animation-duration: duration(months);
  &:before {
    background: url("../img/wave-near.svg") repeat-x 60% 100%;
    animation-duration: duration(weeks);
    transform: translateY(-10px);
  }
}

.wave-mid {
  background: $midnight;
  padding-top: 10px;
  &:before {
    background: url("../img/wave-mid.svg") repeat-x 0 10px;
    background-size: 305px 120px;
    animation-duration: duration(months);
  }
}

@keyframes oceanMotion {
  100% { transform: scale(1.1) translateX(30px); }
}

@keyframes oceanSurge {
  100% { transform: translateY(10px); }
}

#epipelagic {
  background: linear-gradient(to bottom, #39dbb3 0%, #007e84 50%, #0b4960 100%);
  color: color(altCopy);
}
#mesopelagic {
  background: linear-gradient(to bottom, #0b4960 0%, #0b4960 33%, #002351 67%, $abyss 100%);
  color: color(copy);
}
#bathypelagic {
  background: $abyss;
  // background: linear-gradient(to bottom, #0b4960 0%, #002351 100%);
  color: color(copy);
}
#abyssal {
  background: $abyss;
  // background: linear-gradient(to bottom, #002351 0%, $abyss 100%);
  color: color(copy);
}

footer {
  background: $abyss;
  @extend %fontMerriweather;
  @extend %t-medium;
  color: color(copy);
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  line-height: 2em;
}