@import "typography";
@import "config";

$heightScreen: 100vh; // 100vh = height of screen = 200 meters of ocean

.segment { min-height: $heightScreen; }

body, h1, h2, h3, p {
  margin: 0; padding: 0;
}

h1, h2, h3 {
  font-family: $fontSpartan;
  font-weight: fontWeight(normal);
}

h1 {
  @extend %t-xxlarge;
}

h2 {
  @extend %t-xlarge;
}

h2 {
  @extend %t-large;
}

.tagline {
  @extend %fontMerriweatherItalic;
}

em {
  @extend %fontMerriweatherItalic;
}

p {
  @extend %fontMerriweather;
  @extend %t-medium;
}

#title {
  background: #5fa4ff;
  color: color(altCopy);
}

#epipelagic {
  background: linear-gradient(to bottom, #39dbb3 0%, #007e84 100%);
  color: color(altCopy);
}
#mesopelagic {
  background: linear-gradient(to bottom, #007e84 0%, #0b4960 100%);
  color: color(copy);
}
#bathypelagic {
  background: linear-gradient(to bottom, #0b4960 0%, #002351 100%);
  color: color(copy);
}
#abyssal {
  background: linear-gradient(to bottom, #002351 0%, $abyss 100%);
  color: color(copy);
}

footer {
  background: $abyss;
  @extend %fontMerriweather;
  @extend %t-medium;
  color: color(copy);
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  line-height: 2em;
}